<!DOCTYPE html>
<html ng-app="details" ng-controller="detailsController">
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Request Details</title>

	<link rel="stylesheet" type="text/css" href="/node_modules/purecss/build/grids-responsive.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrpwrT3ffXkV2ID2VN-zKCWs5_YcQpT8g" ></script>

	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="node_modules/angular-messages/angular-messages.js"></script>
	<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>

</head>
<body>
	<div id="container" class="horizontal pure-g">
		<div id="sidebar" class="pure-u-lg-3-24">
            <div class="horizontal">
                <img id="menu-icon" src="img/menu.png"/>
                <h1 id="menu-heading">GO! Fetch</h1>
            </div>
	        <md-list>
	        	<md-list-item ng-repeat="menu in menus" ng-click="">
			    	<img src="img/dummy.png" class="md-avatar" />
				    <p>{{ menu }}</p>
				</md-list-item>
	        </md-list>
		</div>
		<div id="content" class="pure-u-lg-5-5">
			<div id="content-header" class="pure-u-lg-5-5">
				<h1 id="content-header-h1">{{job.Name}}</h1>
				<table id="content-header-table">
					<tr>
						<td>Order Type</td>
						<td>:</td>
						<td>{{job.Order.Type}}</td>
					</tr>
					<tr>
						<td>State</td>
						<td>:</td>
						<td>{{job.State}}</td>
					</tr>
					<tr>
						<td>Preference</td>
						<td>:</td>
						<td>CNG > SEDAN</td>
					</tr>
					<tr>
						<td>ETA</td>
						<td>:</td>
						<td>No Asset asigned yet</td>
					</tr>
				</table>
			</div>
			<div id="content-body" class="horizontal">
				<div id="order-details" class="pure-u-lg-1-5">
					<h3>Order ID</h3>
					<p>{{job._id}}</p>
					

					<h3>Customer</h3>
					<p>{{job.User}}</p>
					<p>01911725897</p>
					
					<h3>Asset UserName</h3>
					<p>Nabil Rahman</p>
					<p>01911987548</p>
					
					
					<h3>This Order is Currently Serving by</h3>
					<p>Redwan</p>
				</div>
				<div id="from-to"  class="pure-u-lg-1-2">
					<h3>{{job.User}}'s Location <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"></h3>
					<p>{{job.Order.From.Address}}</p>

					<h3>{{job.User}}'s Destination<img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"></h3>
					<p>{{job.Order.To.Address}}</p>

					<h3>Asset's Location<img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"></h3>
                    <p>Somewhere where asset is</p>
                    

                    <table>
                    	<tr>
                    		<td>Looking  for an asset : </td>
                    		<td>:</td>
                    		<td>Complete</td>
                    	</tr>
                    	<tr>
                    		<td>Asset is on the way : </td>
                    		<td>:</td>
                    		<td><b>{{ job.Tasks[0].State }}</b></td>
                    	</tr>
                    	<tr>
                    		<td>Picked Up :</td>
                    		<td>:</td>
                    		<td>Undecided</td>
                    	</tr>
                    </table>
				</div>
				<div id="map">col 3</div>
			</div>
		</div>
	</div>
	

	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/details.js"></script>
</body>
</html>