<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="details" ng-controller="detailsController"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>Request Details</title>

		<link rel="stylesheet" type="text/css" href="/styles/style.css">
		<link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.css">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrpwrT3ffXkV2ID2VN-zKCWs5_YcQpT8g" ></script>

		<script type="text/javascript" src="node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="node_modules/angular-messages/angular-messages.js"></script>
		<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>

        <link rel="stylesheet" href="styles/normalize.min.css">
        <link rel="stylesheet" href="styles/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">{{job.Name}}</h1>
            </header>
        </div> -->

        <div>
            <div class="horizontal"  flex="100">
				<aside id="sidebar" flex="10">
		        <header class="horizontal" flex="100">	
                    <img src="img/ic_small_home.png"/>
		            <p>GO! Fetch</p>
		        </header>
		            <div>			            
				        <md-list>
				        	<md-list-item ng-repeat="menu in menus" ng-click="">
						    	<md-button class="md-button">
						    		<!-- <img src="img/dummy.png" class="menu-icon md-avatar" class="md-avatar"/> -->
								    <p>{{ menu }}</p>
						    	</md-button>
						    	<md-divider></md-divider>
							</md-list-item>
				        </md-list>
					</div>
	        	</aside>
                <div id="header-and-container" flex="90">
                    <div class="header-container" >
                        <div class="clearfix">
	                        <div class="title">
	                        	<h1>Ride request for {{job.User}} </h1>
	                        	<p>Requested {{ requestedAgo() }} minutes ago</p>
	                        	<p><b>{{job.State}}</b></p>
	                        </div>
                        </div>
                    </div>
                    <article id="container" class="horizontal">
                         

                            <div flex="25">
                                <div id="order-details">
                                	<h3>Details</h3>
	                                <table id="content-header-table">
		                                <tr>
		                                	<td><b>Order ID</b></td>
		                                	<td class="td-value">
		                                		<a href="#">{{detailsTable.orderId}}</a>
		                                	</td>
		                                </tr>
		                                <tr>
		                                	<td><b>User</b></td>
		                                	<td class="td-value">
		                                		<a href="#">{{detailsTable.user}}</a>
		                                	</td>
		                                </tr>
		                                <tr>
		                                	<td><b>Phone</b></td>
		                                	<td class="td-value">
		                                		<a href="#">{{detailsTable.phoneNumber}}</a>
		                                	</td>
		                                </tr>
	                                    <tr>
	                                        <td><b>Order</b></td>
	                                        <td class="td-value">
	                                        	<a href="#">{{detailsTable.orderType}}</a>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <td><b>Preference</b></td>
	                                        <td class="td-value">
	                                        	<a href="#">{{detailsTable.preferences}}</a>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <td><b>ETA</b></td>
	                                        <td class="td-value">
	                                        	<a href="#">{{detailsTable.eta}}</a>
	                                        </td>
	                                    </tr>
	                                </table>
	                                <h3>Asset</h3>
	                                <p>{{asset.name}}</p>
	                                <p>{{asset.phoneNumber}}</p>


	                                <h3>This Order is Currently Serving by</h3>
	                                <p>{{servingby.name}}</p>
                                </div>
                            </div>
                            <div id="from-to"  flex="22">
                                <md-card>
	                                <md-card-header>
	                                	<md-card-header-text>
		                                	<h3>{{job.User}}'s Location</h3>
	                                	</md-card-header-text>
	                                	<md-card-title-media>
		                                	<img class="md-card-image menu-icon" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
	                                	</md-card-title-media>
	                                </md-card-header>
	                                <md-card-content>
	                                	<p>{{job.Order.From.Address}}</p>
	                                </md-card-content>
                                </md-card>
                                <h3>
                                	{{job.User}}'s Destination
                                	<img class="md-card-image menu-icon" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
                                </h3>
                                <p>{{job.Order.To.Address}}</p>

                                <h3>Asset's Location<img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"></h3>
                                <p>Somewhere where asset is</p>

                                <table>
                                    <tr>
                                        <td><b>Find asset</b></td>
                                        <td class="td-value complete">Complete</td>
                                        <td  class="">
                                        	<img src="img/ic_settings.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Asset is on way</b></td>
                                        <td class="td-value in-progress"><b>In Progress</b>
                                        <td  class="">
                                        	<img src="img/ic_settings.png"></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Pick up {{job.User}}</b></td>
                                        <td class="td-value pending">PENDING</td>
                                        <td  class="">
                                        	<img src="img/ic_settings.png">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="map" flex="60"></div>					 
                    </article>				
                </div> <!-- #main -->
               
            </div>
            <div class="footer-container">
                <footer class="wrapper">
                    <h3>footer</h3>
                </footer>
            </div>    
        </div> <!-- #main-container -->
        


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
        <script type="text/javascript" src="js/map.js"></script>
		<script type="text/javascript" src="js/details.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
