#current-status-wrapper {
    position: fixed;
    z-index: 1000;
    width: 400px;
    top: 0px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    transition: top .4s ease-out;
}      

.overall-status-inactive {
    top: -300px !important;
    transition: top .4s ease-out !important;
}

#overall-status-dropdown-btn {
	width: 100%;
    position: relative;
    left: 0;
    right: 0;
}


#overall-status-content {
	background-color: white;
	border: 1px solid black;
}

#current-status-wrapper div h1 {
	margin-top: 0px;
}

#current-status-wrapper div table {
	margin: 0px;
}