html,h1,h2,h3,h4,h5,h6,p,div,label,td,tr,input {
    font-family: 'Roboto', sans-serif !important;
}
.pdl-15 {
    padding-left: 15px;
}
.mt-50 {
    margin: 20px 0px;
}
.mt-15-percent {
    margin-top: 15%;
}
.pending {
    background-color: #FF5722;
}
.in-progress {
    background-color: #3F51B5;
}
.completed {
    background-color: #4CAF50;
}
.canceled {
    background-color: #b71c1c;
}
.summary-icon-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.summary-icon-div i {
    color: white;
    line-height: 50px;    
}
.job-state {
    margin-top: -16px;
}
.selected-page {
    background: #337ab7 !important;
    color: white !important;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

#orderCreateMap {
    height: 400px;    
}


.overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}

.overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #336699;
}

.overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}