html,h1,h2,h3,h4,h5,h6,p,div,label,td,tr,input {
    font-family: 'Roboto', sans-serif !important;
}
.pdl-15 {
    padding-left: 15px;
}
.mt-50 {
    margin: 20px 0px;
}
.mt-15-percent {
    margin-top: 15%;
}
.pending {
    background-color: #FF5722;
}
.in-progress {
    background-color: #3F51B5;
}
.completed {
    background-color: #4CAF50;
}
.canceled {
    background-color: #b71c1c;
}
.summary-icon-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.summary-icon-div i {
    color: white;
    line-height: 50px;    
}
.job-state {
    margin-top: -16px;
}
.selected-page {
    background: #337ab7 !important;
    color: white !important;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}