<div class="title">
	<h1>Asset</h1>
</div>
<article class="container">
    <div id="new-orders" >   
        <md-container flex layout="row">
            <div flex="60"></div>
            <div flex="20">
                <md-button class="md-raised" ng-click="assets.GoToAssetsTrackerMap()">Go To Assets Tracking Map</md-button> 
            </div>
            <div flex="20">
                <md-button class="md-raised" ng-click="assets.Register()">Register new asset</md-button> 
            </div>

        </md-container>

         <table md-table class="order-table" ng-model="selected" flex="90">
            <thead md-head md-on-recorder="onReorder">
                <tr md-row>
                    <th md-column>S/L no</th>
                    <th md-column>Username</th>
                    <th md-column>Type</th>
                    <th md-column>Phone</th>
                    <th md-column>Address</th>                    
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-auto-select ng-repeat="asset in assets.Assets.Collection track by $index" ng-click="Details(asset._id)">
                    <td md-cell class="text">{{$index + 1}}</td>
                    <td md-cell class="text">{{asset.UserName}}</td>
                    <td md-cell class="text">{{asset.Type}}</td>
                    <td md-cell class="text">{{asset.PhoneNumber}}</td>
                    <td md-cell class="text">{{asset.Profile.Address}}</td>                    
                </tr>
            </tbody>
        </table>
        <div style="float:right;margin-bottom: 100px;">
            <ul layout="row">
                <li ng-repeat="page in assets.Assets.pages" ng-click="assets.loadNextPage(page)">{{page+1}}</li>                                    
            </ul>
        </div>
     </div>		 
</article>				
