<div class="container-fluid">
    
    <div class="row">    	
        <div class="col-md-10">            
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="createNewOrder()">Create new Order</button>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-3 row">
            <div class="summary-icon-div completed col-md-1">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{newOrders.pagination.Total}}</h3>
                </div>
                <div>COMPLETED</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div in-progress col-md-1">
                <i class="fa fa-play fa-2x" aria-hidden="true"></i>
            </div>                
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{processingOrders.pagination.Total}}</h3>
                </div>
                <div>IN PROGRESS</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div pending col-md-1">
                <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>                
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{completedOrders.pagination.Total}}</h3>
                </div>
                <div>PENDING</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div canceled col-md-1">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">0</h3>
                </div>
                <div>CANCELED</div>                    
            </div>            
        </div>
    </div>
    <uib-tabset  active="activeJustified" justified="true">
        <uib-tab index="0" heading="PENDING : {{newOrders.total}}">
            <div>                
                <label>
                    <input type="checkbox" ng-model="autoRefreshState" ng-true-value="true" ng-false-value="false" ng-change="AutoRefreshChanged()"> Auto Refresh
                </label>
            </div>            
            <order-table orders="newOrders"></order-table>            
        </uib-tab>
        <uib-tab index="1" heading="IN PROGRESS : {{processingOrders.total}}">
            <order-table orders="processingOrders"></order-table>            
        </uib-tab>
        <uib-tab index="2" heading="COMPLETED : {{completedOrders.total}}">
            <order-table orders="completedOrders"></order-table>            
        </uib-tab>
    </uib-tabset>    
</div>			
