<div class="container-fluid">
    
    <div class="row">    	
        <div class="col-md-10">            
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="createNewOrder()">Create new Order</button>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-3 row">
            <div class="summary-icon-div completed col-md-1">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{newOrders.pagination.Total}}</h3>
                </div>
                <div>COMPLETED</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div in-progress col-md-1">
                <i class="fa fa-play fa-2x" aria-hidden="true"></i>
            </div>                
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{processingOrders.pagination.Total}}</h3>
            </div>
                <div>IN PROGRESS</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div pending col-md-1">
                <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>                
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{completedOrders.pagination.Total}}</h3>
                </div>
                <div>PENDING</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div canceled col-md-1">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">0</h3>
                </div>
                <div>CANCELED</div>                    
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Show:</label>
            <select ng-model="jobTime" ng-change="activate()">
                <option value="all">All</option>
                <option value="today">ToDay's</option>
                <option value="nextday">Next Day</option>                    
            </select>
            <label>Orders</label>                
        </div>
        <div class="form-group col-md-2">
            <label>Show:</label>
            <select ng-model="jobPerPage" ng-change="activate()">
                <option value="10" ng-selected="jobPerPage">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">60</option>
                <option value="50">70</option>
                <option value="50">80</option>
                <option value="50">90</option>
                <option value="50">100</option>
            </select>
            <label>Orders</label>
        </div>
    </div>
    <uib-tabset  active="activeJustified" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                PENDING : {{newOrders.total}}
            </uib-tab-heading>
            <div>                
                <label>
                    <input type="checkbox" ng-model="autoRefreshState" ng-true-value="true" ng-false-value="false" ng-change="AutoRefreshChanged(newOrders)"> Auto Refresh
                </label>
            </div>            
            <order-table orders="newOrders"></order-table>            
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                IN PROGRESS : {{processingOrders.total}}
            </uib-tab-heading>
            <order-table orders="processingOrders"></order-table>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                COMPLETED : {{completedOrders.total}}
            </uib-tab-heading>
            <order-table orders="completedOrders"></order-table>            
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                CANCELED : {{canceledOrders.total}}
            </uib-tab-heading>
            <order-table orders="canceledOrders"></order-table>            
        </uib-tab>
    </uib-tabset>    
</div>			
