<div class="container-fluid">
    <div class="row">    	
        <div class="col-md-10">            
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="createNewOrder()">Create new Order</button>
        </div>
    </div>
    <div>        
        <div>
            <h3>Total Newly arrived orders : {{newOrders.total}}</h3>
        </div>
        <div>            
            <table  class="table table-striped table-bordered" cellspacing="0" width="100%" ng-show="newOrders.isCompleted == 'SUCCESSFULL'">
                <thead>
                    <tr>
                        <th>S\L</th>
                        <th>Job no</th>
                        <th>Order</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>User</th>
                        <th>State</th>
                        <th>Payment</th>
                        <th>Created</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in newOrders.orders track by $index">
                            <td>{{$index + newOrders.pagination.Start}}</td>
                            <td class="col-md-1">{{order.Id}}</td>
                            <td class="col-md-1">{{order.Name}}</td>
                            <td class="col-md-1">{{order.Type}}</td>
                            <td class="col-md-2">{{order.From}}</td>
                            <td class="col-md-2">{{order.To}}</td>
                            <td class="col-md-1">{{order.User}}</td>
                            <td class="col-md-1"><span class="label {{order.State().class}}">{{order.State().value}}</span></td>
                            <td class="col-md-1">{{order.PaymentStatus}}</td>
                            <td class="col-md-1">{{order.RequestedAgo}}</td>
                        <td class="col-md-1">
                                <a href="#/job/{{order.Id}}">
                                    <button class="md-raised">DETAILS</button>
                                </a>
                            </td>
                            
                    </tr>
                </tbody>
            </table>
            <div ng-show="newOrders.isCompleted == 'IN_PROGRESS'" ng-include="'../content/component/loading-snake.html'"></div>
            <div ng-show="newOrders.isCompleted == 'FAILED'" >
                <p>Server error! click <button flex="5" ng-click="loadEnqueuedOrders()" >here</button> to refresh</p>
            </div>
            <div ng-show="newOrders.isCompleted == 'EMPTY'" >
                <p>There is no order here! click <button flex="5" ng-click="loadEnqueuedOrders()" >here</button> to check</p>
            </div>
            
            <div class="pagination-div">
                <ul class="pagination">
                    <li>
                        <a ng-click="loadPrevPage(newOrders)" ng-hide="newOrders.pagination.PrevPage === undefined" href=""> << </a>
                    </li>
                    <li ng-repeat="page in newOrders.pages" ng-click="loadPage(newOrders, page.pageNo)">
                        <a class="{{page.isCurrentPage}}" href="">{{page.pageNo+1}}</a>
                    </li>
                    <li>
                        <a ng-click="loadNextPage(newOrders)" ng-hide="newOrders.pagination.NextPage === undefined" href=""> >> </a>
                    </li>
                </ul>                
            </div>            
        </div>        
    </div>
    <div>
        <div>
            <h3>Total currently processing orders : {{processingOrders.total}}</h3>
        </div>
        <div>
            <table  class="table table-striped table-bordered" cellspacing="0" width="100%" ng-show="processingOrders.isCompleted == 'SUCCESSFULL'">
                <thead>
                    <tr>
                        <th>S\L</th>
                        <th>Job no</th>
                        <th>Order</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>User</th>
                        <th>State</th>
                        <th>Payment</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in processingOrders.orders track by $index">
                        <a href="/details/{{order.Id}}">
                            <td>{{$index + newOrders.pagination.Start}}</td>
                            <td class="col-md-1">{{order.Id}}</td>
                            <td class="col-md-1">{{order.Name}}</td>
                            <td class="col-md-1">{{order.Type}}</td>
                            <td class="col-md-2">{{order.From}}</td>
                            <td class="col-md-2">{{order.To}}</td>
                            <td class="col-md-1">{{order.User}}</td>
                            <td class="col-md-1"><span class="label {{order.State().class}}">{{order.State().value}}</span></td>
                            <td class="col-md-1">{{order.PaymentStatus}}</td>
                            <td class="col-md-1">{{order.RequestedAgo}}</td>
                            <td class="col-md-1">
                                <a href="#/job/{{order.Id}}">
                                    <button class="md-raised">DETAILS</button>
                                </a>
                            </td>
                        </a>
                    </tr>
                </tbody>
            </table>
            <div ng-show="processingOrders.isCompleted == 'IN_PROGRESS'" ng-include="'../content/component/loading-snake.html'"></div>
            <div ng-show="processingOrders.isCompleted == 'FAILED'" >
                <p>Server error! click <button flex="5" ng-click="loadInProgressOrders()" >here</button> to refresh</p>
            </div>
            <div ng-show="processingOrders.isCompleted == 'EMPTY'" >
                <p>There is no order here! click <button flex="5" ng-click="loadInProgressOrders()" >here</button> to check</p>
            </div>
            <div class="pagination-div">
                 <ul class="pagination">
                    <li>
                        <a ng-click="loadPrevPage(processingOrders)" ng-hide="processingOrders.pagination.PrevPage === undefined" href=""> << </a>
                    </li>
                    <li ng-repeat="page in processingOrders.pages" ng-click="loadPage(processingOrders, page.pageNo)">
                        <a class="{{page.isCurrentPage}}" href="">{{page.pageNo+1}}</a>
                    </li>
                    <li>
                        <a ng-click="loadNextPage(processingOrders)" ng-hide="processingOrders.pagination.NextPage === undefined" href=""> >> </a>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
    <div>            
        <div>
            <h3>Total completed orders : {{completedOrders.total}}</h3>
        </div>                            
        <div>
            <table  class="table table-striped table-bordered" cellspacing="0" width="100%" ng-show="completedOrders.isCompleted == 'SUCCESSFULL'">
                <thead>
                    <tr>
                        <th>S\L</th>
                        <th>Job no</th>
                        <th>Order</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>User</th>
                        <th>State</th>
                        <th>Payment</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in completedOrders.orders track by $index">
                        <a href="/job/{{order.Id}}">                            
                            <td>{{$index + newOrders.pagination.Start}}</td>
                            <td class="col-md-1">{{order.Id}}</td>
                            <td class="col-md-1">{{order.Name}}</td>
                            <td class="col-md-1">{{order.Type}}</td>
                            <td class="col-md-2">{{order.From}}</td>
                            <td class="col-md-2">{{order.To}}</td>
                            <td class="col-md-1">{{order.User}}</td>
                            <td class="col-md-1"><span class="label {{order.State().class}}">{{order.State().value}}</span></td>
                            <td class="col-md-1">{{order.PaymentStatus}}</td>
                            <td class="col-md-1">{{order.RequestedAgo}}</td>
                            <td class="col-md-1">
                                <a href="#/job/{{order.Id}}">
                                    <button class="md-raised">DETAILS</button>
                                </a>
                            </td>
                        </a>
                    </tr>
                </tbody>
            </table>
            <div ng-show="completedOrders.isCompleted == 'IN_PROGRESS'" ng-include="'../content/component/loading-snake.html'"></div>

            <div ng-show="completedOrders.isCompleted == 'FAILED'" >
                <p>Server error! click <button flex="5" ng-click="loadCompletedOrders()" >here</button> to refresh</p>
            </div>
            <div ng-show="completedOrders.isCompleted == 'EMPTY'" >
                <p>There is no order here! click <button flex="5" ng-click="loadCompletedOrders()" >here</button> to check</p>
            </div>
            <div class="pagination-div">
                 <ul class="pagination">
                    <li>
                        <a ng-click="loadPrevPage(completedOrders)" ng-hide="completedOrders.pagination.PrevPage === undefined" href=""> << </a>
                    </li>
                    <li ng-repeat="page in completedOrders.pages" ng-click="loadPage(completedOrders, page.pageNo)">
                        <a class="{{page.isCurrentPage}}" href="">{{page.pageNo+1}}</a>
                    </li>
                    <li>
                        <a ng-click="loadNextPage(completedOrders)" ng-hide="completedOrders.pagination.NextPage === undefined" href=""> >> </a>
                    </li>
                </ul>                  
            </div>            
        </div>
    </div>    
</div>			
