<div class="title">
    <h1>{{job.Name}}</h1>
    <p>Requested {{ requestedAgo }} ago</p>
    <div class="horizontal">
        <p><b>This Order is {{job.State}} now</b></p> 
    </div>
</div>
<div>
    <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Details</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>                
                <div layout="row">
                    <div flex="25"><b>Order ID</b></div>
                    <div> {{OrderDetails.OrderId}}</div>
                </div> 
                
                <div layout="row">
                    <div flex="25"><b>User</b></div>
                    <div> {{OrderDetails.UserName}}</div>
                </div>
                <div layout="row">
                    <div flex="25"><b>Phone</b></div>
                    <div> {{OrderDetails.PhoneNumber}}</div>
                </div>
                <div layout="row">
                    <div flex="25"><b>Order</b></div>
                    <div> {{OrderDetails.OrderType}}</div>
                </div>
                <div layout="row">
                    <div flex="25"><b>ETA</b></div>
                    <div> {{OrderDetails.eta}}</div>
                </div>

                
                <div flex="25"><b>Package List</b></div>
                
                <table md-table>
                    <thead md-head md-on-recorder="onReorder">
                        <tr md-row>
                            <th md-column>S/L no</th>
                            <th md-column>Item</th>
                            <th md-column>Quantity</th>
                            <th md-column>Price</th>
                            <th md-column>Total</th>
<!--                                     <th md-column>VATAmount</th>
                            <th md-column>TotalPlusVAT</th> -->
                            <th md-column>Weight</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="order" md-select-id="name" md-auto-select ng-repeat="package in OrderDetails.orderCart.PackageList track by $index">
                                <td md-cell class="number">{{$index + 1}}</td>
                                <td md-cell class="text">{{package.Item}}</td>
                                <td md-cell class="text">{{package.Quantity}}</td>
                                <td md-cell class="text">{{package.Price}}</td>
                                <td md-cell class="text">{{package.Total}}</td>
<!--                                         <td md-cell class="text">{{package.VATAmount}}</td>
                                <td md-cell class="text">{{package.TotalPlusVAT}}</td> -->
                                <td md-cell class="text">{{package.Weight}}</td>
                        </tr>
                    </tbody>
                </table>                
            </md-card-content>
    </md-card>
</div>
<article id="container" layout="row" layout-xs="column" layout-sm="column">
     
    <div id="order-details" flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Asset</span>                                                
                </md-card-title-text>
                <div layout="column">                                                   
                    <md-menu md-offset="0 -7">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <span><img src="content/img/ic_settings.png"></span>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item ng-repeat="item in assignAsset">
                                <md-button ng-click="assetAssignPopup($event)" flex="100"  flex-gt-md="auto">
                                    <span md-menu-align-target></span> {{item}} 
                                </md-button>
                                <div hide-gt-sm layout="row" layout-align="center center" flex="100">
							        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
								</div>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>   
            </md-card-title>
            <md-card-content>
                <md-list>                    
                    <md-list-item ng-repeat="asset in Assets" ng-click="locateMarkerOnMap(asset)">
                        <img alt="{{ asset.title }}" ng-src="{{ asset.photo }}" class="md-avatar" />                            
                        <p>{{ asset.title }}</p>
                        <p>*****</p>    
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">This Order is Currently Serving by</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{servingby.name}}</p>
            </md-card-content>
        </md-card>	                                
    </div>

    <div id="from-to"  flex>
        <md-list>
            <md-list-item  ng-repeat="(key, task) in jobTasks track by $index">
                <md-card flex="95">
                    <md-card-actions layout-align="end center">
                        <md-card-title>
                            <md-card-title-text layout="row" flex="100">
                                <span class="md-title" flex="70">{{task.title}}</span>                                
                                <div layout="column" flex="30">                            
                                    <md-menu md-offset="0 -7">
                                        <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                                            <span>{{task.state}}</span>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item ng-repeat="item in jobTaskStates">
                                                <md-button ng-click="task.stateChanged(item)" ng-model="state.jobTaskStates"><span md-menu-align-target></span> {{item}} </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-card-title-text>                                                  
                        </md-card-title>
                        <md-card-content>
                            <div layout="row">
                                <div flex="35"><b>Started</b></div>
                                <div>{{task.startDate}}, {{task.startTime}}</div>
                            </div>
                            <div layout="row">
                                <div flex="35"><b>Completed</b></div>
                                <div>{{task.completionDate}}, {{task.completionTime}}</div>
                            </div>
                            <div layout="row" ng-show="task.haveLocation">
                                <div flex="35"><b>Address</b></div>
                                <div>{{task.address}}</div>
                            </div>                       
                        </md-card-content>
                        <md-button ng-click="locateMarkerOnMap(task)" ng-show="task.haveLocation">Locate on Map</md-button>
                    </md-card-actions>
                </md-card>
            </md-list-item>
        </md-list>         
    </div>

    <div id="job-map" style="height: 600px;" flex></div>					 
</article>		