<div ng-show="job.jobIsLoading == 'INPROGRESS'" ng-include="'../content/component/spinner/spinner.html'"></div>
 <div class="alert alert-danger" role="alert" ng-show="job.jobIsLoading == 'FAILED'">
    {{job.redMessage}}
</div>
<div class="container-fluid" ng-show="job.jobIsLoading == 'COMPLETED'">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{job.data.HRID}} <span class="label pull-right" ng-class="job.getSantizedState(job.data.State).class">{{job.getSantizedState(job.data.State).value}}</span></h1>
                    <h3>This Job is Claimed by {{job.data.ServedBy.UserName}}</h3>                   
                </div>
                <div class="col-md-6">
                    <div class="row pull-right">
                        <button type="button" class="btn btn-success" ng-click="job.data.restore()">RESTORE</button>
                        <button type="button" class="btn btn-danger" ng-click="job.data.cancel()">CANCEL</button>
                        <button type="button" class="btn btn-danger" ng-click="job.data.claim()">CLAIM</button>
                        <button type="button" class="btn btn-info" ng-click="job.data.getInvoice()">INVOICE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="panel" ng-show="job.data.Tasks[0].Type == 'FetchDeliveryMan'" 
                               ng-class="'panel-'+job.getSantizedState(job.data.Tasks[0].State).class+'-border'">
                <div class="panel-heading" ng-class="job.getSantizedState(job.data.Tasks[0].State).class">
                     {{job.data.Tasks[0].Type}}<span class="label pull-right">{{job.data.Tasks[0].State}}</span>
                </div>
                <div class="panel-body">                    
                    <ul class="list-group mb-20">
                        <li class="list-group-item" ng-repeat="(key, value) in job.data.Assets">
                            <div class="row">
                                <img class="media-object col-md-3" src="../../../content/img/ppnotfound.png">
                                <div class="col-md-7">
                                    <p>{{job.data.Assets[key].UserName}}</p>
                                    <span>{{job.data.Assets[key].PhoneNumber}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>                        
                    <button class="btn btn-primary pull-right" ng-click="open()">ASSIGN DELIVERY MAN</button>                    
                </div>               
            </div>
            <div class="panel" ng-show="job.data.Tasks[1].Type == 'PackagePickUp'" 
                               ng-class="'panel-'+job.getSantizedState(job.data.Tasks[1].State).class+'-border'">
                <div class="panel-heading" ng-class="job.getSantizedState(job.data.Tasks[1].State).class">
                    {{job.data.Tasks[1].Type}}<span class="label pull-right">{{job.getSantizedState(job.data.Tasks[1].State).value}}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-6">Pickup ETA: </label>                                                    
                        <span class="col-md-6">{{ job.data.Tasks[1].ETA | date:'EEE d MMM y,h:m'}}</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Started: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Completed: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup ETA Failed: </label>                                                    
                        <span class="col-md-6">False</span><br>                            
                    </div>                    
                    <select class="row form-control mb-20 task-state-update-select" ng-model="selectedStateForPickup">
                        <option value="PENDING">PENDING</option>
                        <option value="IN_PROGRESS">IN PROGRESS</option>
                        <option value="COMPLETED">COMPLETED</option>
                    </select>                    
                    <button class="btn btn-primary pull-right" ng-click="job.stateUpdate(job.data.Tasks[1].id, selectedStateForPickup)">UPDATE STATE</button>
                </div>
            </div>
            <div class="panel" ng-show="job.data.Tasks[2].Type == 'Delivery'" 
                               ng-class="'panel-'+job.getSantizedState(job.data.Tasks[2].State).class+'-border'">
                <div class="panel-heading" ng-class="job.getSantizedState(job.data.Tasks[2].State).class">
                    {{job.data.Tasks[2].Type}}<span class="label pull-right">{{job.getSantizedState(job.data.Tasks[2].State).value}}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-6">Pickup ETA: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Started: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Completed: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup ETA Failed: </label>                                                    
                        <span class="col-md-6">False</span><br>                            
                    </div>                    
                    <select class="row form-control mb-20 task-state-update-select" ng-model="selectedStateForDelivery">
                        <option value="PENDING">PENDING</option>
                        <option value="IN_PROGRESS">IN PROGRESS</option>
                        <option value="COMPLETED">COMPLETED</option>
                    </select>                    
                    <button class="btn btn-primary pull-right" ng-click="job.stateUpdate(job.data.Tasks[2].id, selectedStateForDelivery)">UPDATE STATE</button>
                </div>
            </div>
            <div class="panel" ng-show="job.data.Tasks[3].Type == 'SecureDelivery'" 
                               ng-class="'panel-'+job.getSantizedState(job.data.Tasks[3].State).class+'-border'">
                <div class="panel-heading" ng-class="job.getSantizedState(job.data.Tasks[3].State).class">
                    {{job.data.Tasks[3].Type}}<span class="label pull-right">{{job.getSantizedState(job.data.Tasks[3].State).value}}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-6">Pickup ETA: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Started: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup Completed: </label>                                                    
                        <span class="col-md-6">08/02/2016 12:00 AM</span><br>                            
                    </div>
                    <div class="row">
                        <label class="col-md-6">Pickup ETA Failed: </label>                                                    
                        <span class="col-md-6">False</span><br>                            
                    </div>                    
                    <select class="row form-control mb-20 task-state-update-select" ng-model="selectedStateForSecureDelivery">
                        <option value="PENDING">PENDING</option>
                        <option value="IN_PROGRESS">IN PROGRESS</option>
                        <option value="COMPLETED">COMPLETED</option>
                    </select>                    
                    <button class="btn btn-primary pull-right" ng-click="job.stateUpdate(job.data.Tasks[3].id, selectedStateForSecureDelivery)">UPDATE STATE</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Order Information
                </div>
                <div class="panel-body">
                    <div class="row">                        
                        <div class="col-md-6">
                            <label>Pickup Address:</label><br>
                            <span>seller name-Bikroy today :D phone no-01830606504, address-New Market,hatire pull,naherer plaza,mokka telecom, shop no-247, 2nd floor., Hatirpul Residential Area, Dhaka</span>
                        </div>
                        <div class="col-md-6">
                            <label>Delivery Address:</label><br>
                            <span>buyer name-Maruf ahmed, phon no-01763674393,address-Ashiyan medical college. Barua - khilket - Dhaka, Nikunjo - 2, Dhaka</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Note to Delivery Man:</label><br>
                            <span>seller payable amount 5096BDT Bikroy.com service charge 104BDT.pick time 8/2/2016 (10:30am) delivery time 8/4/2016 (10)am.must be call before pick and deliver</span>
                        </div>
                        <div class="col-md-6">
                            <label>Package Description:</label><br>
                            <span>seller payable amount 5096BDT Bikroy.com service charge 104BDT.pick time 8/2/2016 (10:30am) delivery time 8/4/2016 (10)am.must be call before pick and deliver</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Payment Method:</label><br>
                            <span>CashOnDelivery</span>
                        </div>
                        <div class="col-md-6">
                            <label>Required Change For:</label><br>
                            <span>500 BDT</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Pickup ETA:</label><br>
                            <span>08/01/2016 12:00 AM</span>
                        </div>
                        <div class="col-md-4">
                            <label>Delivery ETA:</label><br>
                            <span>08/01/2016 12:00 AM</span>
                        </div>
                        <div class="col-md-4">
                            <label>Secure Delivery ETA:</label><br>
                            <span>08/01/2016 12:00 AM</span>
                        </div>
                    </div>                    
                </div>                
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Item Details
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of job.Order.OrderCart.PackageList">
                                    <th scope="row">1</th>
                                    <td>item.Item</td>
                                    <td>item.Quantity</td>
                                    <td>item.Price</td>
                                    <td>item.Total</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">Subtotal</td>
                                    <td> job.Order.OrderCart.SubTotal </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">Delivery Charge</td>
                                    <td> job.Order.OrderCart.ServiceCharge </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">Total</td>
                                    <td> job.Order.OrderCart.TotalToPay </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Customer Info
                </div>
                <div class="panel-body">
                    <div class="row mb-20">
                        <img class="media-object col-md-3" src="../../../content/img/ppnotfound.png">
                        <h4>Farhan</h4>
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-user col-md-3" aria-hidden="true"></span>
                        <span>Enterprise</span>                        
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-earphone col-md-3" aria-hidden="true"></span>
                        <span>01911725897</span>                        
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-envelope col-md-3" aria-hidden="true"></span>
                        <span>farhan@gobd.co</span>                        
                    </div>
                </div>                
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Order Status
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-6">CreateTime</label>
                        <span class="col-md-6">2016-08-01T05:43:25.192Z</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">ModifiedTime</label>
                        <span class="col-md-6">2016-08-01T05:43:25.192Z</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">ETAFailed</label>
                        <span class="col-md-6">false</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">CompletionTime</label>
                        <span class="col-md-6"></span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">InitiatinTime</label>
                        <span class="col-md-6">Duration</span><br>
                    </div>

                    <div class="row">
                        <label class="col-md-6">PreferredDeliveryTime</label>
                        <span class="col-md-6"></span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">InvoiceId</label>
                        <span class="col-md-6"></span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">Payment Status</label>
                        <span class="col-md-6">Pending</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">CancellationReason</label>
                        <span class="col-md-6"></span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">IsDeleted</label>
                        <span class="col-md-6"></span><br>                    
                    </dv>                
                        
                    </div>
            </div>
        </div>       
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Map
                </div>
                <div id="jobMap" class="panel-body"></div>
            </div>
        </div>
    </div>
</div>