<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="page-login">
  	<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
		<md-toolbar>
		  	<div class="md-toolbar-tools">
				<h2><span>TaskCat Admin Login</span></h2>
		  	</div>
		</md-toolbar>
		<md-card-content>
			<form name="loginForm">
				<md-input-container class="md-block">
				  	<label>User Name</label>
				  	<input type="username" name="email" ng-model="auth.loginData.username" placeholder="username" required="" />
				  	<div ng-messages="loginForm.username.$error" role="alert">
						<div ng-message="required">This field is required</div>
					  	</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="auth.loginData.password" placeholder="password" required="" md-maxlength="16" />
					<div ng-messages="loginForm.password.$error" role="alert" multiple="">
						<div ng-message="required" class="my-message">You must supply a password.</div>
						<div ng-message="md-maxlength" class="my-message">Too long.</div>
					</div>          
				</md-input-container>
				<div layout="row" layout-sm="column" layout-align="space-around">					
					<md-button flex="20" layout-align="center center" layout="row" ng-disabled="!loginForm.$valid" type="submit" ng-click="auth.login()" class="md-raised">
						<md-progress-circular ng-show="auth.logginOnProcess" md-mode="indeterminate"></md-progress-circular>
						<span ng-show="!auth.logginOnProcess">SUBMIT</span>
					</md-button>
				</div>
			</form>
		</md-card-content>
  </md-card>
</md-content>