<div class="container-fluid">    
    <div class="row">       
        <div class="col-md-10">            
        </div>
        
        <div class="col-md-1">
            <button class="btn btn-primary" ng-click="createNewUser()">Create new User</button>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-md-3 row">
            <div class="summary-icon-div pending col-md-1">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 user">
                <div>
                    <h3 class="display-4">{{user.total}}</h3>
                </div>
                <div>USERS</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div in-progress col-md-1">
                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
            </div>                
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{enterprise.total}}</h3>
            </div>
                <div>ENTERPRISE USERS</div>                    
            </div>            
        </div>
        <div class="col-md-3 row">
            <div class="summary-icon-div completed col-md-1">
                <i class="fa fa-bicycle fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{assets.total}}</h3>
                </div>
                <div>BIKE MESSENGERS</div>                    
            </div>            
        </div>
<!--         <div class="col-md-3 row">
            <div class="summary-icon-div cancelled col-md-1">
                <i class="fa fa-anchor fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{}}</h3>
                </div>
                <div>ADMINS</div>                    
            </div>            
        </div> -->
    </div>
    <div class="row">        
        <div class="form-group col-md-3">
            <label>Show:</label>
            <select ng-model="userPerPage" ng-change="activate()" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">60</option>
                <option value="50">70</option>
                <option value="50">80</option>
                <option value="50">90</option>
                <option value="50">100</option>
            </select>
            <label>Orders</label>
        </div>
    </div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                USERS : {{user.total}}
            </uib-tab-heading>        
            <user-table users="user"></user-table>            
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                ENTERPRISE : {{enterprise.total}}
            </uib-tab-heading>
            <user-table users="enterprise"></user-table>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                ASSETS : {{assets.total}}
            </uib-tab-heading>
            <user-table users="assets"></user-table>            
        </uib-tab>
    </uib-tabset>    
</div>          
