<div class="container-fluid">	
	<div class="row">
		<div class="col-md-4">
			<h1>{{user.User.UserName}}</h1>	
			<span>{{user.User.Type}}</span>
			<span ng-show="user.isAsset">{{user.AverageRating}}</span><br>
			<span>Email : {{user.User.Email}}</span><br>
			<span>Phone : {{user.User.PhoneNumber}}</span><br>
		</div>
		<div class="col-md-6">
			<h1>Profile Info</h1>					
				<span ng-show="user.isAsset||user.isUser">First Name : {{user.User.Profile.FirstName}}</span><br>
				<span ng-show="user.isAsset||user.isUser"></span><br>
				<span ng-show="user.isAsset||user.isUser">Age : {{user.User.Profile.Age}}</span><br>
				<span ng-show="user.isAsset||user.isUser">Gender : {{user.User.Profile.Gender}}</span><br>
				<span>Address : {{user.User.Profile.Address}}</span><br>
				<span ng-show="user.isAsset">NationalId : {{user.User.Profile.NationalId}}</span><br>
				<span ng-show="user.isAsset">DriversLicenseId : {{user.User.Profile.DriversLicenseId}}</span><br>
				<span ng-show="user.isEnterprise">CompanyName : {{user.User.Profile.CompanyName}}</span><br>
				<span ng-show="user.isEnterprise">Website : {{user.User.Profile.Website}}</span><br>
		</div>
		<div class="col-md-2">
	    	<img src="{{user.Profile.PicUri || '/content/img/ppnotfound.png'}}">
	  	</div>
	</div>
</div>			
