<article id="container" layout="row">
    <section flex="60">
        <form name="newOrderForm" class="generic-form" >
            <h1 class="md-headline">Create an Order</h1>

            <md-content layout-gt-sm="row" layout-padding flex="100">
                <md-input-container flex="100">
                    <label>Order Type</label>
                    <md-select ng-model="createOrder.newOrder.Type" ng-change="createOrder.orderTypeSelected(createOrder.newOrder.Type)">
                        <md-option ng-repeat="type in createOrder.OrderType" value="{{type}}" >
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-content>
            <md-content layout-gt-sm="row" layout-padding flex="100">
                <md-input-container flex="100">
                    <!-- <input required name="User" ng-model="createOrder.newOrder.User"> -->
                    <md-autocomplete
                        md-no-cache="createOrder.noCache"                    
                        md-selected-item="createOrder.selectedItem"
                        md-search-text-change="createOrder.searchTextChange(createOrder.searchText)"
                        md-search-text="createOrder.searchText"
                        md-selected-item-change="createOrder.selectedItemChange(item)"
                        md-items="item in createOrder.querySearch(createOrder.searchText)"
                        md-item-text="item.UserName"
                        md-floating-label="Type in area name to search on the map" 
                        md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="item.UserName">{{item.UserName}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{ctrl.searchText}}" were found.
                            <a ng-click="createOrder.CreateNewUser()">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>

                    <div ng-messages="newOrderForm.User.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The User has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>      
            </md-content>

            <md-content layout-gt-sm="row" layout-padding flex="100" ng-show="createOrder.isOrderSelected">
                <md-input-container flex="100">
                    <label>{{createOrder.FromLabel}}</label>
                    <textarea rows="5" required name="FromAddress" ng-model="createOrder.newOrder.From.Address" value="{{createOrder.newOrder.From.Address}}"></textarea>
                    <div ng-messages="newOrderForm.FromAddress.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>  
                <md-input-container flex="100">
                    <label>{{createOrder.ToLabel}}</label>
                    <textarea rows="5" required name="ToAddress" ng-model="createOrder.newOrder.To.Address"  value="{{createOrder.newOrder.To.Address}}"></textarea>
                    <div ng-messages="newOrderForm.ToAddress.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>               
            </md-content>

            <md-content layout-gt-sm="row" layout-padding flex="100" ng-show="createOrder.DeliveryOrderSelected">
                <md-input-container flex="100">
                    <label>Package Description</label>
                    <textarea rows="5" required name="PackageDescription" ng-model="createOrder.newOrder.PackageDescription"  value="{{createOrder.newOrder.PackageDescription}}"></textarea>
                    <div ng-messages="newOrderForm.PackageDescription.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>           
            </md-content>

            <md-content layout-gt-sm="row" layout-padding flex="100" ng-show="createOrder.DeliveryOrderSelected">
                <md-input-container flex="100">
                    <label>Note To DeliveryMan</label>
                    <textarea rows="5" name="NoteToDeliveryMan" ng-model="createOrder.newOrder.NoteToDeliveryMan"  value="{{createOrder.newOrder.NoteToDeliveryMan}}"></textarea>
                    <div ng-messages="newOrderForm.NoteToDeliveryMan.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>           
            </md-content>

            <md-content layout-gt-sm="row" layout-padding flex="100" ng-show="createOrder.DeliveryOrderSelected">
                <md-input-container flex="100">
                    <label>Package Weight in KG</label>
                    <input required name="PackageWeight" ng-model="createOrder.newOrder.PackageWeight" type="number" placeholder="ex: 1 kg or 0.5 kg" value="{{createOrder.newOrder.PackageWeight}}">
                    <div ng-messages="newOrderForm.PackageWeight.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>           
            </md-content>
            
            <md-button class="md-raised" flex="50" ng-click="createOrder.createNewOrder(newOrder)">REGISTER</md-button>
        </form>
    </section>
    
    <section flex="40">    
        <form class="generic-form" ng-submit="createOrder.searchAddress()" layout="row">
            <md-input-container flex="60">                
                <md-autocomplete                      
                    id="search_text" placeholder="ex: mohakhali"
                    nc-places-autocomplete 
                    nc-root-vm="createOrder" 
                    md-input-name="toAutoComplete"
                    md-items="item in createOrder.placesResults" 
                    md-selected-item="createOrder.SelectedTo" 
                    md-item-text="item.description" 
                    md-floating-label="Type in area name to search on the map" 
                    md-search-text="createOrder.toSearchText">
                    <md-item-template>
                        <span md-highlight-text="createOrder.toSearchText">{{item.description}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                    <div ng-messages="deliveryForm.toAutoComplete.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-autocomplete>                
            </md-input-container>
            <md-input-container flex="40">
                <md-button class="md-raised" ng-click="createOrder.searchAddress()">Search Location</md-button>
            </md-input-container>
        </form>        
        <div id="orderCreateMap"></div>
    </section>
</article>