<div class="container">
    <ng-form class="form-horizontal mt-50" name="orderCreationForm" >
        <fieldset>
            <!-- Form Name -->
            <legend>Create Order</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Order Name</label>
              <div class="col-md-6">
                <input type="text" placeholder="ex: delivery order for Mr. X" class="form-control" ng-model="order.Name" required>                
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Delivery Type</label>
              <div class="col-md-6">
                <select id="" name="" class="form-control" ng-model="order.Type">
                  <option>Delivery</option>
                  <option>Ride</option>
                  <option>ClassifiedDelivery</option>
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label col-md-2" for="">User Name</label>
                <div class="col-md-6">
                     <input type="text" 
                         ng-model="selectedUser"
                         placeholder="Locations loaded via $http"
                         ng-change="loadUserNames()"
                         uib-typeahead="user.UserName for user in userNames"
                         typeahead-loading="loadingLocations" 
                         typeahead-no-results="noResults"
                         typeahead-wait-ms=100
                         typeahead-on-select="onSelectUser($item, $model, $label, $event)"
                         class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>
                </div>
            </div>


            <legend>Addresses and ETA</legend>
            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Pickup Address</label>
              <div class="col-md-6">                     
                <textarea class="form-control" rows="3" ng-model="order.From.Address"></textarea>
              </div>              
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Pickup ETA</label>
                <div class="col-md-6">
                    <div class='input-group date'>
                        <input type='text' class="form-control" class="form-control input-sm"
                               datetimepicker
                               datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"
                                placeholder="..."
                                name="time"
                                ng-model="order.JobTaskETAPreference[0].ETA"
                                />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Delivery Address</label>
              <div class="col-md-6">                     
                <textarea class="form-control" rows="3" ng-model="order.To.Address"></textarea>
              </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Delivery ETA</label>
                <div class="col-md-6">
                    <div class='input-group date'>
                        <input type='text' class="form-control" class="form-control input-sm"
                               datetimepicker
                               datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"
                                placeholder="..."
                                name="time"
                                ng-model="order.JobTaskETAPreference[1].ETA"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>  



            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Order Location</label>
              <div class="col-md-6">                     
                <textarea class="form-control" rows="3" ng-model="order.OrderLocation.Address"></textarea>
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">ETA</label>
              <div class="col-md-6">
                <div class='input-group date'>
                    <input type='text' class="form-control" class="form-control input-sm"
                           datetimepicker
                           datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"
                            placeholder="..."
                            name="time"
                            ng-model="order.ETA"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label col-md-2" for="">ETA in Minute</label>
              <div class="col-md-6">
                <input id="" name="" type="number" placeholder="30" class="form-control" ng-model="order.ETA">
              </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Select Location On Map</label>
                <div id="orderCreateMap" class="col-md-10"></div>
            </div>


            <legend>Other Infos</legend>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Payment Method</label>
              <div class="col-md-6">
                <select id="" name="" class="form-control" ng-model="order.PaymentMethod">
                  <option>CashOnDelivery</option>
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Required Change For</label>
              <div class="col-md-6">
                <div class="input-group ">
                    <input id="" name="" type="number" placeholder="ex: 500" class="form-control" aria-describedby="BDT" ng-model="order.RequiredChangeFor">
                    <span class="input-group-addon" id="BDT">BDT</span>
                </div>
              </div>
            </div>


            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Package Description</label>
              <div class="col-md-6">                     
                <textarea class="form-control" rows="3" ng-model="order.Description"></textarea>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="control-label col-md-2" for="">Note to Delivery Man</label>
              <div class="col-md-6">                     
                <textarea class="form-control" rows="3" ng-model="order.NoteToDeliveryMan"></textarea>
              </div>
            </div>

            <legend>Order Cart</legend>
            <div class="form-group" ng-repeat="item in order.OrderCart.PackageList track by $index">
                <label class="control-label col-md-1">Item {{$index}}</label>
                <div class="col-md-3">
                    <textarea class="form-control" rows="1" type="text" placeholder="Item Name" ng-model="item.Item"></textarea>
                </div>                
                <div class="col-md-2">
                    <input class="form-control" type="number" placeholder="Quantity" ng-model="item.Quantity">
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="number" placeholder="Unit Price" ng-model="item.Price">
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="number" placeholder="Weight" ng-model="item.Weight">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>            
            <button class="btn btn-primary pull-right" ng-click="createNewOrder()">Create Order</button>
        </fieldset>

    </ng-form>

</div>