<div class="title">
    <h1>Register New Asset</h1>
</div>
<article class="container" flex="100">
    <form name="newOrderForm" class="generic-form" flex="60">
        <h1 class="md-headline">Please fill up the fields below to register an asset</h1>

        <md-content layout-gt-sm="row" layout-padding flex="100">
        	<md-input-container flex="25">
                <label>Order Type</label>
                <md-select ng-model="newOrder.Type">
                    <md-option ng-repeat="type in OrderType" value="{{type}}">
                        {{type}}
                    </md-option>
                </md-select>
            </md-input-container>
		</md-content>

		<md-content layout-gt-sm="row" layout-padding flex="100">
            <md-input-container flex="30">
                <label>Name</label>
                <input required name="Name" ng-model="newOrder.Name">
                <div ng-messages="newOrderForm.Name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>           
        </md-content>

        <md-content layout-gt-sm="row" layout-padding flex="100">
            <md-input-container flex="30">
                <label>User's Location</label>
                <input required name="FromAddress" ng-model="newOrder.From.Address">
                <div ng-messages="newOrderForm.FromAddress.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>           
        </md-content>

        <md-content layout-gt-sm="row" layout-padding flex="100">
            <md-input-container flex="30">
                <label>User's Destination</label>
                <input required name="ToAddress" ng-model="newOrder.To.Address">
                <div ng-messages="newOrderForm.ToAddress.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>           
        </md-content>
        
        <md-button class="md-raised" flex="20" ng-click="createNewOrder(newOrder)">REGISTER</md-button>
    </form>
    
</article>
