<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
		<title>Dashboard</title>

        <!-- load Icons -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="content/styles/style.css">
        <link rel="stylesheet" type="text/css" href="content/styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="content/component/loadinSnake/loading-snake.css">
        <link rel="stylesheet" type="text/css" href="content/component/sk-cube/sk-cube.css">
        <link rel="stylesheet" type="text/css" href="content/component/spinner/spinner.css">

        <link rel="stylesheet" type="text/css" href="node_modules/eonasdan-bootstrap-datetimepicker-npm/build/css/bootstrap-datetimepicker.min.css">







        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/moment/moment.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/eonasdan-bootstrap-datetimepicker-npm/src/js/bootstrap-datetimepicker.js"></script>





        <!-- load angular librarries -->        

        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-messages/angular-messages.js"></script>

        <script src="scripts/ui-bootstrap-tpls-2.0.0.js"></script>
        <script src="node_modules/angular-file-upload/dist/angular-file-upload.js"></script>
        <script src="node_modules/mdPickers/dist/mdPickers.js"></script>
        <script src="node_modules/clipboard/dist/clipboard.min.js"></script>        
        <script src="node_modules/ngclipboard/dist/ngclipboard.min.js"></script>
        <script src="node_modules/angular-local-storage/src/angular-local-storage.js"></script>
        <script src="node_modules/ms-signalr-client/jquery.signalr-2.2.0.js"></script>
        <script src="node_modules/angular-signalr-hub/signalr-hub.js"></script>
        

        <script src="app/app.js"></script>

        <script src="app/constants.js"></script>

        <!-- load services -->
        <script src="app/services/services.js"></script>
        <script src="app/services/jobServices.js"></script>
        <script src="app/services/dashBoardServices.js"></script>
        <script src="app/services/userService.js"></script>
        <script src="app/services/authInterceptorService.js"></script>
        <script src="app/services/authService.js"></script>
        <script src="app/services/orderService.js"></script>
        <script src="app/services/mapService.js"></script>
        <script src="app/services/supportedOrderService.js"></script>
        <script src="app/services/queryService.js"></script>
        <script src="app/services/reportService.js"></script>
        

        <!-- load controllers -->
        <script src="app/controllers/indexController.js"></script>        

        <script src="app/controllers/dashBoardController.js"></script>
        
        <script src="app/controllers/order/createOrderController.js"></script>

        <script src="app/controllers/jobController.js"></script>
        <script src="app/controllers/usersController.js"></script>
        <script src="app/controllers/userDetailsC.js"></script>        
        <script src="app/controllers/usercreateC.js"></script>
        <script src="app/controllers/trackingMapC.js"></script>        
        <script src="app/controllers/authController.js"></script>
        <script src="app/controllers/supportedOrderController.js"></script>
        <script src="app/controllers/supportedOrder/supportedOrderUpdateController.js"></script>
        <script src="app/controllers/supportedOrder/supportedOrderCreateController.js"></script>
        <script src="app/controllers/reportC.js"></script>
        <script src="app/controllers/reportJobsC.js"></script>
        <script src="app/controllers/bulkOrderC.js"></script>

        <!-- load directives -->
        <script src="app/directives/sidebarDirective.js"></script>
        <script src="app/directives/UserValidation.js"></script>
        <script src="app/directives/NCPlacesAutocomplete.js"></script>
        <script src="app/directives/OrderTable/OrderTable.js"></script>
        <script src="app/directives/ReportTable/reportTable.js"></script>
        <script src="app/directives/UserTable/UserTable.js"></script>
        <script src="app/directives/dateTimePicker.js"></script>
        
    </head>
    <body>
        <div ng-app="app" id="wrapper" class="active" ng-controller="indexController">
            <div id="sidebar-wrapper" ng-show="sidebarVisible">
                <ul id="sidebar_menu" class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a id="menu-toggle">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a>
                    </li>
                </ul>
                
                <ul class="sidebar-nav" id="sidebar">     
                    <li ng-repeat="menu in menus">
                        <a href="{{menu.link}}" target="{{menu.target}}">
                            {{menu.title}}
                            <span class="sub_icon glyphicon glyphicon-link"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <nav class="row navbar navbar-default" role="navigation" ng-show="shouldShowMenuAndFooter">                    
                    <div class="col-md-7"></div>
                    <div class="">
                        <form name="jobSearchForm" class="navbar-form navbar-left">
                            <div class="input-group">
                                <div class="input-group-addon">Job - </div>
                                <input type="text" ng-model="jobId" class="form-control text-uppercase" pattern="[A-Z|a-z|0-9]{8}" title="ex: VV1XDFOW" placeholder="ex: SDHA54SD" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="saerchJob(jobId)" ng-disabled="jobSearchForm.$invalid">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>                            
                                </span>
                            </div>                            
                        </form>
                    </div>
                    <div class="col-md-1 collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">                        
                        <ul class="nav navbar-nav navbar-right">                            
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as {{authData.userName}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/user/details/{{authData.userId}}">Profile</a></li>                                    
                                    <li role="separator" class="divider"></li>
                                    <li><a ng-click="logout()">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>                    
                </nav>            
                
            </div>
            <section layout="row">          
                <div id="ng-view" ng-view class="view-frame"></div>
            </section>            
        </div> <!-- #main-container -->

        <script type="text/javascript">
            $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("active");
                    console.log("toggleClass")
            });
        </script>
                <!-- load Google Maps -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU6-oTRia-NQum_ZCOVdsX4p0Wmx1Y18o&libraries=places&sensor=false" async defer></script>
        <script src="node_modules/gmaps/gmaps.min.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
