<article class="container">
	<h1 class="md-headline">Asset's location on Map</h1>
	<section layout="row">
		<div id="assets-track-list">
			<md-list flex>
	        	<md-subheader class="md-no-sticky">Asset's Status</md-subheader>
	        		<md-list-item class="md-3-line" aria-label="asset status" ng-repeat="(key, asset) in assetsTrackingMap.assetsList" ng-click="assetsTrackingMap.locateMarkerOnMap(asset)">
	          			<img ng-src="" class="md-avatar {{asset.online}}" alt="" />
	      				<div class="md-list-item-text" layout="column">
				            <h3>{{ asset.content }}</h3>
				            <h4>{{ asset.online }}</h4>
				            <p>{{ asset.lastSeen }}</p>
	      				</div>
	        		</md-list-item>
	        		<md-divider ></md-divider>
	        	</md-subheader>
	        </md-list>
		</div>
		
		<div id="tracking-map" flex="90"></div>
	</section>
</article>