<div class="row table-responsive" ng-show="orders.isCompleted == 'SUCCESSFULL'">
    <h3>{{orders.pagination.Total}} Job found</h3>
    <table class="table-striped table-bordered table-hover" id="jobs-table" style="table-layout: fixed;">
        <thead>
            <tr>
                <th ng-show="orders.assign.showPickupAssign || orders.assign.showdeliveryAssign ||orders.assign.showsecuredeliveryAssign">
                    <input style="width: 20px; height: 20px;" type="checkbox" ng-model="orders.selectAll" ng-click="orders.selectAllJobs()">
                </th>
                <th style="width: 30px;">S\L</th>
                <th class="col-md-2">Job Id</th>
                <th class="col-md-2">Current Status</th>
                <th class="col-md-1">Ref. Invoice</th>
                <th class="col-md-1">Create Time</th>
                <th class="col-md-1" ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'IN_PROGRESS' || orders.searchParam.jobState === 'CANCELLED'">Last Modified</th>
                <th class="col-md-1" ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'COMPLETED'">Complete Time</th>
                <th class="col-md-1">User</th>            
                <th class="col-md-1">Pickup Area</th>
                <th class="col-md-1">Pickup</th>
                <th class="col-md-1">Delivery Area</th>
                <th class="col-md-1">Delivery</th>
                <th class="col-md-1" ng-show="orders.assign.showPickupAssign">Pickup Asset</th>
                <th class="col-md-1" ng-show="orders.assign.showdeliveryAssign">Delivery Asset</th>
                <th class="col-md-1" ng-show="orders.assign.showsecuredeliveryAssign">SecureDelivery Asset</th>
                <th class="col-md-1" ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'CANCELLED'">Cancellation Reason</th>            
                <th class="col-md-1">Payment</th>
                <th class="col-md-1">Time Elapsed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders.data track by $index">
                <td ng-click="orders.selectJob($index)" ng-show="orders.assign.showPickupAssign || orders.assign.showdeliveryAssign ||orders.assign.showsecuredeliveryAssign">
                    <input style="width: 20px; height: 20px;" ng-model="order.selected" type="checkbox">
                </td>
                <td ng-click="orders.selectJob($index)">                
                    <label style="font-size: 18px;">{{$index + orders.pagination.Start}}</label>                
                </td>
                <td>
                    <div>
                        <span style="font-size: 16px;font-weight: 600;color:black">{{order.data.HRID}}</span>                    
                    </div>
                    <br>
                    <a class="small-button small-button-color" href="#/job/{{order.data.HRID}}" target="_blank">Details</a>
                    <a class="small-button small-button-color" href="/app/content/invoice/invoice.html?{{order.data.HRID}}" target="_blank">Invoice</a>
                </td>
                <td>
                    <span class="small-button text-center {{orders.getProperWordWithCss(order.data.State).class}}">{{order.data.HRState}}</span>
                    <span class="small-button text-center {{orders.getProperWordWithCss(order.data.State).class}}" ng-show="order.data.AttemptCount > 1">Attempted {{order.data.AttemptCount}} Time</span>
                </td>
                <td>{{order.data.Order.ReferenceInvoiceId}}</td>
                <td>{{order.data.CreateTime | date:"EEE MMM d, y h:mm:ss a"}}</td>
                <td ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'IN_PROGRESS' || orders.searchParam.jobState === 'CANCELLED'">
                    {{order.data.ModifiedTime | date:"EEE MMM d, y h:mm:ss a"}}
                </td>
                <td ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'COMPLETED'">
                    {{order.data.CompletionTime | date:"EEE MMM d, y h:mm:ss a"}}
                </td>
                <td>
                    <span class="small-button {{orders.getProperWordWithCss(order.data.User.Type).class}}">{{order.data.User.UserName}}</span>
                </td>
                <td>{{order.data.Order.From.Locality}}</td>
                <td>{{order.data.Order.From.Address}}</td>
                <td>{{order.data.Order.To.Locality}}</td>
                <td>{{order.data.Order.To.Address}}</td>



                <td ng-show="orders.assign.showPickupAssign">
                    <span class="label asset">{{order.data.Assets[orders.loadSingleTask('PackagePickUp', $index).AssetRef].UserName}}</span>
                    <br>
                    <button class="btn btn-primary small-button" style="margin-top: 25%;" 
                        ng-click="order.isAssigningPickUpAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('PackagePickUp', $index), 'AssetAssign')" 
                        ng-show="orders.selectedAssetName">
                        <span><i ng-show="order.isAssigningPickUpAsset" class="fa fa-refresh fa-spin"></i></span>
                        <span ng-show="!order.data.Tasks[1].AssetRef">{{ 'Assign to ' + orders.selectedAssetName}}</span>
                        <span ng-show="order.data.Tasks[1].AssetRef">{{ 'Re Assign to  ' + orders.selectedAssetName}}</span>
                    </button>
                    <br>
                    <button class="btn btn-primary small-button" style="margin-top: 25%;" 
                            ng-click="order.isCompletingPickUpAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('PackagePickUp', $index), 'TaskComplete')" 
                            ng-disabled="orders.loadSingleTask('PackagePickUp', $index).State === 'COMPLETED'">
                        <span><i ng-show="order.isCompletingPickUpAsset" class="fa fa-refresh fa-spin"></i></span>
                        <span>Complete Pickup</span>                    
                    </button>
                </td>



                <td ng-show="orders.assign.showdeliveryAssign">
                    <span class="label asset">{{order.data.Assets[orders.loadSingleTask('Delivery', $index).AssetRef].UserName}}</span>
                    <br>
                    <button class="btn btn-primary small-button" style="margin-top: 25%;" 
                            ng-click="order.isAssigningDeliveryAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('Delivery', $index), 'AssetAssign')" 
                            ng-show="orders.selectedAssetName">
                        <span><i ng-show="order.isAssigningDeliveryAsset" class="fa fa-refresh fa-spin"></i></span>
                        <span ng-hide="order.DeliveryAsset().Name">{{ 'Assign to ' + orders.selectedAssetName}}</span>
                        <span ng-show="order.DeliveryAsset().Name">{{ 'Re Assign to  ' + orders.selectedAssetName}}</span>
                    </button>
                    <br>
                    <button class="btn btn-primary small-button" style="margin-top: 25%;" 
                            ng-click="order.isCompletingDeliveryAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('Delivery', $index), 'TaskComplete')" 
                            ng-disabled="orders.loadSingleTask('PackagePickUp', $index).State === 'PENDING' || orders.loadSingleTask('PackagePickUp', $index).State === 'IN_PROGRESS' || orders.loadSingleTask('Delivery', $index).State === 'COMPLETED' ">
                        <span><i ng-show="order.isCompletingDeliveryAsset" class="fa fa-refresh fa-spin"></i></span>
                        <span>Complete Delivery</span>                    
                    </button>
                </td>



                <td ng-show="orders.assign.showsecuredeliveryAssign">
                    <div ng-show="order.Type() === 'B2B + Cash Delivery'">
                        <span class="label asset">{{order.data.Assets[orders.loadSingleTask('SecureDelivery', $index).AssetRef].UserName}}</span>
                        <br>
                        <button class="btn btn-primary small-button" style="margin-top: 25%;" 
                                ng-click="order.isAssigningSecureCashDeliveryAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('SecureDelivery', $index), 'AssetAssign')" ng-show="orders.selectedAssetName">
                            <span><i ng-show="order.isAssigningSecureCashDeliveryAsset" class="fa fa-refresh fa-spin"></i></span>
                            <span ng-hide="order.SecureDeliveryAsset().Name">{{ 'Assign to ' + orders.selectedAssetName}}</span>
                            <span ng-show="order.SecureDeliveryAsset().Name">{{ 'Re Assign to  ' + orders.selectedAssetName}}</span>
                        </button>
                        <br>
                        <button class="btn btn-primary small-button" style="margin-top: 25%;" 

                            ng-click="order.isCompletingSecureCashDeliveryAsset=true;orders.assignAssetToTask($index, orders.loadSingleTask('SecureDelivery', $index), 'TaskComplete')" 

                            ng-disabled="orders.loadSingleTask('Delivery', $index).State === 'PENDING' || orders.loadSingleTask('Delivery', $index).State === 'IN_PROGRESS' || orders.loadSingleTask('SecureDelivery', $index).State === 'COMPLETED' ">

                            <span><i ng-show="order.isCompletingSecureCashDeliveryAsset" class="fa fa-refresh fa-spin"></i></span>
                            <span>Complete SecureDelivery</span>                    
                        </button>                  
                    </div>
                    <div ng-hide="order.Type() === 'B2B + Cash Delivery'">
                        <span class="label {{order.SecureDeliveryState().class}}">{{order.SecureDeliveryState().value}}</span>
                    </div>
                </td>



                <td ng-show="orders.searchParam.jobState === null || orders.searchParam.jobState === 'CANCELLED'">{{order.data.CancellationReason || "No Reason Mentioned"}}</td>
                <td>
                    <div>
                        <span class="label small-button {{orders.getProperWordWithCss(order.data.PaymentStatus).class}}">{{orders.getProperWordWithCss(order.data.PaymentStatus).value}}</span>
                    </div>
                    <br>                    
                    <a class="btn btn-danger small-button" ng-click="orders.updatePaymentStatus($index)" ng-show="orders.showPaymentUpdateOption && order.data.PaymentStatus === 'Pending'">Update Payment
                        <span><i ng-show="order.isUpdatingPaymentStatus" class="fa fa-refresh fa-spin"></i></span>
                    </a>                    
                </td>
                <td>{{order.RequestedAgo}}</td>                                                    
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="orders.isCompleted == 'IN_PROGRESS'" ng-include="'../app/content/component/loadinSnake/loading-snake.html'"></div>
<div ng-show="orders.isCompleted == 'FAILED'" >
    <p>Server error! click <button ng-click="orders.loadOrders()" >here</button> to refresh</p>
</div>
<div ng-show="orders.isCompleted == 'EMPTY'" >
    <p>There is no order here! click <button ng-click="orders.loadOrders()" >here</button> to check</p>
</div>

<nav class="navbar-right" ng-show="orders.isCompleted !== 'IN_PROGRESS'">
    <ul class="pagination">
        <li>
            <a ng-click="orders.loadPrevPage()" ng-hide="orders.pagination.PrevPage === undefined" href=""> << </a>
        </li>
        <li ng-repeat="page in orders.pages" ng-click="orders.loadPage(page.pageNo)">
            <a class="{{page.isCurrentPage}}" href="">{{page.pageNo+1}}</a>
        </li>
        <li>
            <a ng-click="orders.loadNextPage()" ng-hide="orders.pagination.NextPage === undefined" href=""> >> </a>
        </li>
    </ul>                
</nav>            