<div class="title">
	<h1>Asset</h1>
</div>
<article id="container">
    <div id="new-orders" class="order-table-div">
        
        <div>
            <md-button class="md-primary" id="add-more">
                <a href="#/asset/create" >
                    <p>Register new asset</p>
                </a>
            </md-button> 
            
        </div>
        <table class="rg-table zebra">
            <thead>
                <tr>
                    <th class="number rg-th">S/L no</th>
                    <th class="text rg-th">Username</th>
                    <th class="text rg-th">Type</th>
                    <th class="text rg-th">Phone</th>
                    <th class="text rg-th">AreaOfOperation</th>
                    <th class="text rg-th">CurrentLocation</th>
                    <th class="text rg-th">IsAvailable</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in Assets.Collection track by $index" ng-click="Details(asset._id)">
                    <td class="number">{{$index + 1}}</td>
                    <td class="text">{{asset.Username}}</td>
                    <td class="text">{{asset.Type}}</td>
                    <td class="text">{{asset.Phone}}</td>
                    <td class="text">{{asset.AreaOfOperation}}</td>
                    <td class="text">{{asset.CurrentLocation}}</td>
                    <td class="text">{{asset.IsAvailable}}</td>
                </tr>
            </tbody>
        </table>
        <div style="float:right;margin-bottom: 100px;">
            <ul layout="row">
                <li ng-repeat="page in Assets.pages" ng-click="loadNextPage(page)">{{page+1}}</li>                                    
            </ul>
        </div>
     </div>		 
</article>				
