<div layout="column" flex id="content" role="main" ng-cloak>
  <md-content layout="vertical" flex id="content">
    <div layout="row" layout-align="center center" layout-fill>
      <md-whiteframe class="md-whiteframe-z1" layout="row" flex="30" layout-padding>
        <form name="loginForm">
          <md-content layout="column" flex="100">
            <md-input-container flex>
              <label>User Name</label>
              <input name="username" required ng-model="auth.loginData.username">
              <div ng-messages="loginForm.username.$error" role="alert">
                <div ng-message="required">This field is required</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input required name="password" ng-model="auth.loginData.password" type="password">
              <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-message="required">This field is required</div>
              </div>
            </md-input-container>

            <md-input-container >
              <div layout="row" layout-sm="column" layout-margin>
                <md-button type="submit" ng-click="auth.login()" class="md-raised md-primary" flex="40" flex-sm="100">Login</md-button>
              </div>
            </md-input-container>
          </md-content>
        </form>
      </md-whiteframe>
    </div>
  </md-content>
</div>
