<article class="container">
    <form name="assetRegistration" ng-submit="createAsset.RegisterNewAsset()" class="generic-form" flex="100">
        <h1 class="md-headline">Please fill up the fields below to register an User</h1>


        <md-content layout-gt-sm="row" layout-padding flex="100">
            <md-input-container flex="40">
                <label>Type</label>
                <md-select ng-model="createAsset.asset.Type" ng-change="createAsset.UserTypeChanged(createAsset.asset.Type)">
                    <md-option ng-repeat="t in createAsset.type" value="{{t}}">
                        {{t}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>

        <md-content layout-gt-sm="row" layout-padding flex="100">
            <md-input-container flex="30" md-is-error="false">
                <label>User Name</label>
                <input name="UserName" required="2@b" ng-model="createAsset.asset.UserName">
                <div ng-messages="assetRegistration.UserName.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container flex="25">
                <label>Email</label>
                <input required name="Email" ng-model="createAsset.asset.Email" type="email">
                <p ng-show="assetRegistration.Email.$invalid && !assetRegistration.Email.$pristine" class="help-block">Enter a valid email.</p>
                <div ng-messages="assetRegistration.Email.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container flex="25">
                <label>Phone</label>
                <input required name="PhoneNumber" ng-model="createAsset.asset.PhoneNumber" type="text" pattern="\+8801\d{9}">
                <p ng-show="assetRegistration.PhoneNumber.$invalid && !assetRegistration.PhoneNumber.$pristine" class="help-block">Enter a valid Bangladeshi Phonenumber starting with +88 following 11 digit.</p>
            </md-input-container>
        </md-content>

        <md-content layout-gt-sm="row" layout-padding flex="100">                            
            <md-input-container flex="30">
                <label>Password</label>
                <input required name="Password" ng-model="createAsset.asset.Password" ng-minlength="6" type="password">
                <p ng-show="assetRegistration.Password.$invalid && !assetRegistration.Password.$pristine" class="help-block">Password must be minimum 6 charecter</p>
            </md-input-container>
            <md-input-container flex="25">
                <label>Confirm Password</label>
                <input required name="ConfirmPassword" ng-model="createAsset.asset.ConfirmPassword" ng-minlength="6" type="password" valid-password-c>
                <p 
                ng-show="assetRegistration.ConfirmPassword.$invalid && !assetRegistration.ConfirmPassword.$pristine && assetRegistration.ConfirmPassword.$error.noMatch" 


                class="help-block">Confirm Password doesn't match with the Password</p>
            </md-input-container>
        </md-content>


        <md-content layout-gt-sm="row" layout-padding flex="100">                            
            <md-input-container flex="55">
                <label>Address</label>
                <input ng-model="createAsset.asset.Address">
            </md-input-container>                                
        </md-content>


        <md-content ng-show="!createAsset.isEnterpriseUser">
            <h1 class="md-headline">Profile Information</h1>
            <md-content layout-gt-sm="row" layout-padding flex="100">                            
                <md-input-container flex="30">
                    <label>First Name</label>
                    <input ng-model="createAsset.asset.FirstName">
                </md-input-container>
                <md-input-container flex="25">
                    <label>Last Name</label>
                    <input ng-model="createAsset.asset.LastName">
                </md-input-container>
            </md-content>

            <md-content layout-gt-sm="row" layout-padding flex="100">                            
                <md-input-container flex="30">
                    <label>Age</label>
                    <input ng-model="createAsset.asset.Age" type="number">
                </md-input-container>
                <md-input-container flex="25">
                    <label>Gender</label>
                    <md-select ng-model="createAsset.asset.Gender">
                        <md-option ng-repeat="g in createAsset.gender" value="{{g}}">
                            {{g}}
                        </md-option>
                    </md-select>
                </md-input-container>                
            </md-content>
        </md-content>


        <md-content ng-show="createAsset.isAsset">
            <h1 class="md-headline">Asset Info</h1>
            <md-content layout-gt-sm="row" layout-padding flex="100">
                <md-input-container flex="30">
                    <label>NationalId</label>
                    <input ng-model="createAsset.asset.NationalId">
                </md-input-container>
                <md-input-container flex="25">
                    <label>DrivingLicenceId</label>
                    <input ng-model="createAsset.asset.DrivingLicenceId">
                </md-input-container>                           
            </md-content>
        </md-content>

        <md-content ng-show="createAsset.isEnterpriseUser">
            <h1 class="md-headline">Enterprise user Info</h1>
            <md-content layout-gt-sm="row" layout-padding flex="100">
                <md-input-container flex="30">
                    <label>ContactPersonName</label>
                    <input ng-model="createAsset.asset.ContactPersonName">
                </md-input-container>
                <md-input-container flex="25">
                    <label>Website</label>
                    <input ng-model="createAsset.asset.Website">
                </md-input-container>                           
            </md-content>
        </md-content>
        <md-button class="md-raised" flex="20" type="submit" ng-disabled="assetRegistration.$invalid">REGISTER</md-button>
    </form>
    
</article>
