<input type="text" class="form-control asset-search-input" placeholder="Type UserName to search!" ng-model="searchUser">
<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" ng-show="users.isCompleted === 'SUCCESSFULL'">
	<thead>
		<tr>
			<td>S\L</td>
			<td>UserName</td>
			<td>Email</td>
			<td>PhoneNumber</td>
			<td>Address</td>
			<td ng-show="users.searchParam.userType == 'BIKE_MESSENGER'">Rating</td>
		</tr>
	</thead>
	<tbody>	
		<tr ng-repeat="user in users.users | filter:searchUser track by $index ">
			<td>{{$index + 1}}</td>
			<td><a href="#/users/{{user.Id}}" target="_blank">{{user.UserName}}</a></td>
			<td>{{user.Email}}</td>
			<td>{{user.PhoneNumber}}</td>
			<td>{{user.Profile.Address}}</td>
			<td ng-show="users.searchParam.userType == 'BIKE_MESSENGER'">{{user.AverageRating}}</td>
		</tr>
	</tbody>
</table>

<div ng-show="users.isCompleted == 'IN_PROGRESS'" ng-include="'../app/content/component/loadinSnake/loading-snake.html'"></div>

<div ng-show="users.isCompleted == 'FAILED'">
	<p>Server error! click <button ng-click="users.loadUsers()">here</button> to refresh</p>
</div>

<div ng-show="users.isCompleted == 'EMPTY'">
	<p>There is no users here! click <button ng-click="users.loadUsers()">here</button> to check</p>
</div>


<nav class="navbar-right">
	<ul class="pagination">
		<li>
			<a ng-click="users.loadPrevPage()" ng-hide="users.pagination.PrevPage === undefined"> << </a>
		</li>
		<li ng-repeat="page in users.pages track by $index" ng-click="users.loadPage(page.pageNo)">
			<a class="{{page.isCurrentPage}}">{{page.pageNo + 1}}</a>
		</li>
		<li>
			<a ng-click="users.loadNextPage()" ng-hide="users.pagination.NextPage === undefined"> >> </a>
		</li>
	</ul>
</nav>