<div ng-show="isLoadingCategories" ng-include="'../app/content/component/spinner/spinner.html'"></div>
<div ng-hide="isLoadingCategories">
	<div class="modal-header">
	    <h3 class="modal-title">Select Categories</h3>
	</div>
	<div class="modal-body">    
		<input class="form-control asset-search-input" placeholder="Type Categories to search!" type="text" ng-model="searchText">
	    <div class="list-group asset-list">
	    	<div class="row" ng-repeat="cat in catagories | filter:searchText">
				<input class="col-md-1" type="radio" ng-model="selectedCatagory" ng-click="selectCatagorie(cat)" ng-value="cat">
			  	<button class="col-md-5 list-group-item asset-list-item" type="button" ng-click="selectCatagorie(cat)">{{ cat.Name }}</button>    		
	    	</div>
		</div>
	    <div>
	    	<p>Selected: <b>{{ selectedCatagory.Name }}</b></p>
	    </div>
	    <div>
			<p>Cant find appropriate catagory? add a new catagory on <b>{{ storename }}</b> and you will find that cataogry here.</p>
			<p><a href="#/store?userid={{ userid }}&storename={{ storename }}" target="_blank">Click here to add new Catagory on {{ storename }}</a></p>
		</div>
	</div>
	
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="select()">Select</button>	   
	</div>

</div>