<div class="bulk-assign-div" ng-hide="Orders.selectedJobsCount === 0">	
	<div class="form-group">                
		<div class="row">
			<div class="col-md-4">
				<label>Select Asset</label>
				<div class="input-group">                        
					<select class="form-control" ng-model="selectedAssetId" ng-change="assetChanged()" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'">
						<option ng-repeat="user in Assets" value="{{user.Id}}">{{user.UserName}}</option>
					</select>
					<span class="input-group-btn">                                    
						<button class="btn btn-default" ng-click="getAssetsList()" ng-show="Assets.length === 0">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<label>Assign selected Jobs For </label>
						<select class="form-control" ng-model="selectedTaskType">		        		
							<option value="PackagePickUp">Pickup</option>
							<option value="Delivery">Delivery</option>
							<option value="ReturnDelivery">Return Delivery</option>
							<option value="SecureDelivery">Cash Delivery</option>
						</select>       
					</div>
					<div class="col-md-4">
						<br>
						<button class="btn btn-primary" ng-disabled="!selectedAssetId && !selectedTaskType" ng-click="assignAssetToTask(selectedTaskType)">Assign</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">        	
			<label class="col-md-12 control-label">Select Task for Completion of {{Orders.selectedJobsCount}} selected Jobs</label>
			<div class="col-md-8">
				<select class="form-control" ng-model="selectedTaskTypeForComplete">		        		
					<option value="PackagePickUp">Pickup</option>
					<option value="Delivery">Delivery</option>
					<option value="ReturnDelivery">Return Delivery</option>
					<option value="SecureDelivery">Cash Delivery</option>
				</select>
			</div>
			<div class="col-md-4">		    	
				<button class="btn btn-primary" ng-disabled="!selectedTaskTypeForComplete" ng-click="completeTask(selectedTaskTypeForComplete)">Complete</button>
			</div>
		</div>
		<br>
		<div class="row">
			<label class="col-md-12 control-label">Add Tag</label>
			<div class="col-md-8">
				<div class="input-group">
					<input type="text" 
					ng-model="selectedTag" placeholder="Type and select a Tag" 
					uib-typeahead="tag.Id for tag in Tags | filter:$viewValue | limitTo:20" 
					typeahead-on-select="onSelectTag($item, $model, $label, $event)"
					class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="">
					<span class="input-group-btn">                                    
						<button class="btn btn-default" ng-click="getTagsList(0)" ng-show="Tags.length === 0">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn btn-default" ng-click="selectedTag = null" ng-show="Tags.length !== 0">
							<i class="fa fa-minus-circle" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-4">		    	
				<button class="btn btn-primary" ng-disabled="!selectedTag" ng-click="assignTag(selectedTag)">Assign Tag</button>
			</div>
		</div>
	</div>	
</div>
<div class="container-fluid">
	<div class="row">
		<ng-form class="form-horizontal">	        
			<h3>Job Search Fields</h3><br>	        
			<div class="row">
				<ng-form class="">			            

					<div class="row">
						<div class="col-md-2">
							<label>Job State</label>
							<select class="form-control" ng-model="SelectedState" ng-change="activate()">
								<option value="All">All</option>
								<option disabled>──────────────────────────────</option>
								<option value="PENDING AND IN PROGRESS">PENDING AND IN PROGRESS</option>
								<option disabled>──────────────────────────────</option>
								<option value="ENQUEUED">PENDING</option>
								<option disabled>──────────────────────────────</option>
								<option value="IN PROGRESS">IN PROGRESS</option>
								<option value="PICKUP IN PROGRESS">PICKUP IN PROGRESS</option>
								<option value="ALL DELIVERY IN PROGRESS">ALL DELIVERY IN PROGRESS</option>
								<option value="DELIVERY IN PROGRESS">DELIVERY IN PROGRESS</option>
								<option value="CASH DELIVERY IN PROGRESS">CASH DELIVERY IN PROGRESS</option>
								<option value="RETURN DELIVERY IN PROGRESS">RETURN DELIVERY IN PROGRESS</option>
								<option value="RETRY DELIVERY IN PROGRESS">RETRY DELIVERY IN PROGRESS</option>
								<option disabled>──────────────────────────────</option>
								<option value="COMPLETED">COMPLETED</option>
								<option value="PICKUP COMPLETED">PICKUP COMPLETED</option>
								<option value="ALL DELIVERY COMPLETED">ALL DELIVERY COMPLETED</option>
								<option value="DELIVERY COMPLETED">DELIVERY COMPLETED</option>
								<option value="CASH DELIVERY COMPLETED">CASH DELIVERY COMPLETED</option>
								<option value="RETURNED DELIVERY COMPLETED">RETURNED DELIVERY COMPLETED</option>
								<option value="RETRY DELIVERY COMPLETED">RETRY DELIVERY COMPLETED</option>                            
								<option disabled>──────────────────────────────</option>
								<option value="CANCELLED">CANCELLED</option>
							</select>
						</div>
						<div class="col-md-3">
							<label>Date Range</label>
							<div>
								<span class="input-group-btn" style="float: left;width: 50%">
									<input class="form-control date-picker" date-range-picker placeholder="select date" type="text" ng-model="SelectDateRange"/>
								</span>
								<span class="input-group-btn" style="float: left;width: 10%">
									<button class="btn btn-default" ng-click="removeDateRange()">
										<i class="fa fa-minus-circle" aria-hidden="true"></i>
									</button>
								</span>
								<select class="form-control" ng-model="SelectedTimeProperty" style="width: 40%" ng-change="selectDateRange()">
									<option value=""></option>
									<option value="CreateTime">Create Time</option>
									<option value="CompletionTime">Completion Time</option>
									<option value="ModifiedTime">Modified Time</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<label>Order By</label>
							<div>                                                        
								<select class="form-control" ng-model="SelectedOrderByProperty" ng-change="SelectOrderBy()">
									<option value="CreateTime asc">By <b>Oldest</b> Create Time</option>
									<option value="CompletionTime asc">By <b>Oldest</b> Completion Time</option>
									<option value="ModifiedTime asc">By <b>Oldest</b> Modified Time</option>
									<option value="CreateTime desc">By <b>Latest</b> Create Time</option>
									<option value="CompletionTime desc">By <b>Latest</b> Completion Time</option>
									<option value="ModifiedTime desc">By <b>Latest</b> Modified Time</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<label>IN PROGRESS Delivery Jobs Of</label>
							<div class="input-group">
								<input type="text" 
								ng-model="assetNameIdToLoadInprogressJobs" placeholder="Write Assets Users Name" 
								uib-typeahead="user.UserName for user in Assets | filter:$viewValue | limitTo:20" 
								typeahead-on-select="onSelectAssetToLoadInprogressJobs($item, $model, $label, $event)"
								class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
								<span class="input-group-btn">                                    
									<button class="btn btn-default" ng-click="getAssetsList()" ng-show="Assets.length === 0">
										<i class="fa fa-refresh" aria-hidden="true"></i>
									</button>
									<button class="btn btn-default" 
									ng-click="assetIdToLoadInprogressJobs=null;assetNameIdToLoadInprogressJobs=null;activate()" 
									ng-show="Assets.length !== 0">
									<i class="fa fa-minus-circle" aria-hidden="true"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-md-3">
						<label>Search</label>
						<span class="input-group-btn" style="width: 20%">
							<input type="text" class="form-control" ng-model="SearchKey" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" placeholder="Recipeint's Phone, GO! Fetch Tracking No"  ng-keypress="($event.which === 13)?activate():0">
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="SearchKey=null; activate()">
								<i class="fa fa-minus-circle" aria-hidden="true"></i>
							</button>
						</span>
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-md-3">
						<label>Enterprise Users</label>
						<div class="input-group">
							<input type="text" 
							ng-model="selectedUser" placeholder="Write Enterprise Users Name" 
							uib-typeahead="user.UserName for user in EnterpriseUsers | filter:$viewValue | limitTo:20" 
							typeahead-on-select="onSelectEnterprise($item, $model, $label, $event)"
							class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
							<span class="input-group-btn">                                    
								<button class="btn btn-default" ng-click="getEnterpriseUsersList()" ng-show="EnterpriseUsers.length === 0">
									<i class="fa fa-refresh" aria-hidden="true"></i>
								</button>
								<button class="btn btn-default" ng-click="EnterpriseUser = null; selectedUser = null; activate()" ng-show="EnterpriseUsers.length !== 0">
									<i class="fa fa-minus-circle" aria-hidden="true"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="col-md-3">
						<label>Delivery Area</label>
						<div class="input-group">
							<input type="text" 
							ng-model="DeliveryArea"  placeholder="Write Delivery area's Name"
							uib-typeahead="area for area in DeliveryAreas | filter:$viewValue | limitTo:20"
							class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="DeliveryArea = null; activate()" ng-show="DeliveryAreas.length !== 0">
									<i class="fa fa-minus-circle" aria-hidden="true"></i>
								</button>
							</span>
						</div>                        
					</div>
					<div class="col-md-1">
						<label>Payment Status</label>                        
						<select class="form-control" ng-model="PaymentStatus" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
							<option value=""></option>
							<option value="Paid">Paid</option>
							<option value="Pending">Pending</option>
						</select>                        
					</div>
					<div class="col-md-2">
						<label>Delivery Attempt Time</label>                        
						<select class="form-control" ng-model="AttemptCount" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">                            
							<option value="Any">Any</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>                        
					</div>
					<div class="col-md-2">
						<label>Search by Tags</label>                        
						<div class="input-group">
							<input type="text" 
							ng-model="selectedTag" placeholder="Type and select a Tag" 
							uib-typeahead="tag.Id for tag in Tags | filter:$viewValue | limitTo:20" 
							typeahead-on-select="onSelectTag($item, $model, $label, $event)"
							class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
							<span class="input-group-btn">                                    
								<button class="btn btn-default" ng-click="getTagsList()" ng-show="Tags.length === 0">
									<i class="fa fa-refresh" aria-hidden="true"></i>
								</button>
								<button class="btn btn-default" ng-click= "selectedTag = null; selectedTag = null; activate()" ng-show="Tags.length !== 0">
									<i class="fa fa-minus-circle" aria-hidden="true"></i>
								</button>
							</span>

						</div>                 
					</div>
					<div class="col-md-1">
						<br>
						<button class="btn btn-primary pull-right" ng-click="activate()" >SEARCH JOBS</button>
					</div>
				</div>

				<br>			            
			</ng-form>        
		</div>
		<div class="row">	        									
			<div class="col-md-12">
				<label class="">Fetch Job Ids:</label>
				<chips ng-model="listOfHRID">
					<chip-tmpl>
						<div class="default-chip">
							{{chip}}
							<span class="glyphicon glyphicon-remove" remove-chip></span>
						</div>
					</chip-tmpl>
					<input id="bulk-assign-job-chips" placeholder="insert GO! Fetch Job IDs" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" chip-control></input>
				</chips>
			</div>
		</div>
		<br>
		<div class="row">
			<button class="btn btn-danger pull-right" ng-click="listOfHRID=[]">REMOVE ALL JOB ID</button>
		</div>	       
	</ng-form>
</div>
<div class="alert alert-danger alert-dismissable" ng-show="Orders.errMsg">
	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<h3>Couldn't load the following Jobs:</h3>
	<ul class="list-inline">
		<li ng-repeat="hrid in Orders.errMsg">
			<a class="btn btn-danger" href="#/job/{{hrid}}" target="_blank">{{hrid}}</a>
		</li>
	</ul>		
</div>
<h3>Search Filters:</h3>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<ul class="list-inline" style="font-size: 15px;">
			<li ng-show="assetIdToLoadInprogressJobs">
				Delivery IN PROGRESS jobs of <b>{{assetNameIdToLoadInprogressJobs}}</b> <b><span style="color: red">(Other filters wont work with this filter)</span></b>
			</li>
			<li ng-show="SelectedState">
				Job State: <b>{{SelectedState}}</b>,
			</li>
			<li ng-show="SelectedTimeProperty">
				{{SelectedTimeProperty}}: <b>{{dateRange1 | date:"MMM d, y"}}</b> to <b>{{dateRange2 | date:"MMM d, y"}}</b>,
			</li>
			<li ng-show="SelectedOrderByProperty">
				Order By: <b>{{SelectedOrderByProperty}}</b>,
			</li>
			<li ng-show="SearchKey">
				Search Key word: <b>{{SearchKey}}</b>,
			</li>
			<li ng-show="EnterpriseUser">
				Enterprise User: <b>{{EnterpriseUser}}</b>,
			</li>
			<li ng-show="DeliveryArea">
				Delivery Area: <b>{{DeliveryArea}}</b>,
			</li>
			<li ng-show="PaymentStatus">
				Payment Status: <b>{{PaymentStatus}}</b>,
			</li>
			<li ng-show="AttemptCount">
				Delivery Attempt: <b>{{AttemptCount}}</b>,
			</li>
			<li ng-show="selectedTag">
				Tag: <b>{{selectedTag}}</b>
			</li>            
		</ul>
	</div>
</div>
<div class="row" ng-show="Orders.selectedJobsCount !== 0">
	<h3>Selected Job Ids: </h3>
	<span>Total {{ Orders.selectedJobsCount }} jobs selected</span>
	<ul class="list-inline">
		<li ng-repeat="(index, jobid) in Orders.selectedJobsIndexes">
			<div class="default-chip">
				<b>{{" " + jobid}}</b>
				<span class="glyphicon glyphicon-remove" ng-click="Orders.selectJob(index)"></span>
			</div>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-1">
		<button class="btn btn-primary pull-right" ng-click="goToInvoicePage()">PRINT INVOICES</button>
	</div>
	<div class="col-md-1">
		<button class="btn btn-primary pull-right" ng-click="getReport(0)">EXPORT EXCEL</button>
	</div>
</div>
<div class="row">
	<order-table orders="Orders"></order-table>		
</div>
</div>