<div class="container-fluid">
	<div class="row">
		<div class="form-group col-md-3">			
			<input type="file" class="form-control" id="csv" ng-disabled="!EnterpriseUser"/>		
		</div>
		<div class="form-group col-md-3">
	        <label class="control-label col-md-6">Select Vendor:</label>
	        <div class="col-md-6">
	            <select class="form-control" ng-model="EnterpriseUser" ng-options="user as user.UserName for user in EnterpriseUsers">
	                <option></option>                
	            </select>                    
	        </div>
	    </div>
	    <div class="col-md-6">
	    	<a class="pull-right" href="app/content/document/Vendor Bulk Order Excel.xlsx">Download Excel Format</a>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Procedure to create Order from Excel file:</h3>
			<ol>
				<li>Download the excel file format from upper right corner of this page</li>
				<li>Populate it with related information (except jobid, userid)</li>
				<li>Select Vendor</li>
				<li>Convert the Excel file into ; seperated CSV file. <a href="https://ashwaniashwin.wordpress.com/2013/04/19/save-excel-file-as-a-csv-semicolon-delimited-file-along-with-unicode-encoding/" target="_blank">Click here</a> to know more</li>
				<li>Upload the CSV file</li>
				<li>Click on the create button on the right of each row</li>
			</ol>
		</div>
		<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
				<th class="col-md-1">GO! Fetch Job ID</th>
				<th class="col-md-1">UserID</th>
				<th class="col-md-1">Delivery Area</th>
				<th class="col-md-1">Delivery Address</th>
				<th class="col-md-1">Pickup Area</th>
		 		<th class="col-md-1">Pickup Address</th>
				<th class="col-md-1">Package Details</th>
				<th class="col-md-1">Total Price</th>
				<th class="col-md-1">Total Weight</th>
				<th class="col-md-1">GO! Fetch Service Charge</th>
				<th class="col-md-1">Note To Delivery Man</th>
				<th class="col-md-1" colspan="2">
					<button class="btn btn-primary" ng-click="createAll()">Create All Order</button>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="order in Orders">
					<td class="col-md-1">
						<span><a href="#/job/{{order.jobid}}" target="_blank">{{order.jobid}}</a></span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.userid" value="order.userid"></textarea>
						<span ng-show="!order.editMode">{{order.userid}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.deliveryarea" value="order.deliveryarea"></textarea>
						<span ng-show="!order.editMode">{{order.deliveryarea}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.deliveryaddress" value="order.deliveryaddress"></textarea>
						<span ng-show="!order.editMode">{{order.deliveryaddress}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.pickuparea" value="order.pickuparea"></textarea>
						<span ng-show="!order.editMode">{{order.pickuparea}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.pickupaddress" value="order.pickupaddress"></textarea>
						<span ng-show="!order.editMode">{{order.pickupaddress}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.packagedetails" value="order.packagedetails"></textarea>
						<span ng-show="!order.editMode">{{order.packagedetails}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.totalprice" value="order.totalprice"></textarea>
						<span ng-show="!order.editMode">{{order.totalprice}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.totalweight" value="order.totalweight"></textarea>
						<span ng-show="!order.editMode">{{order.totalweight}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.servicecharge" value="order.servicecharge"></textarea>
						<span ng-show="!order.editMode">{{order.servicecharge}}</span>
					</td>
					<td class="col-md-1">
						<textarea ng-show="order.editMode" type="text" ng-model="order.notetodeliveryman" value="order.notetodeliveryman"></textarea>
						<span show="order.!editMode" type=>{{order.notetodeliveryman}}</span>
					</td>
					<td ng-hide="order.creatingOrder === 'SUCCESS'">
						<button class="btn btn-danger" ng-click="order.editMode = !order.editMode">
							<span ng-show="!order.editMode">Edit</span>
							<span ng-show="order.editMode">Done</span>
						</button>
					</td>
					<td ng-hide="order.creatingOrder === 'SUCCESS'">
						<button class="btn btn-primary" ng-click="order.createOrder()">
							<span class="fa fa-refresh fa-spin" ng-show="order.creatingOrder === 'IN_PROGRESS'"></span>
							<span ng-disabled="order.creatingOrder === 'IN_PROGRESS'">Create</span>					
						</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>

