<div class="container-fluid">
	<div class="row">
		<div class="form-group col-md-3">
	        <label class="control-label col-md-6">Select Vendor:</label>
	        <div class="col-md-6">
	            <select class="form-control" ng-model="bulkOrder.EnterpriseUser" ng-options="user as user.UserName for user in bulkOrder.EnterpriseUsers">
	                <option></option>                
	            </select>
	        </div>
	    </div>
		<div class="form-group col-md-3">			
			<input type="file" class="form-control" id="csv" ng-disabled="!bulkOrder.EnterpriseUser"/>			
		</div>
	    <div class="form-group col-md-1">
	    	<button class="btn btn-primary" ng-click="upload()">upload</button>
	    </div>

	    <div class="col-md-5">
	    	<a class="pull-right" href="app/content/document/Vendor Bulk Order Excel.xlsx">Download Excel Format</a>
	    </div>
	</div>
	<div class="row">		
		<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
				<th class="col-md-1">S/L</th>
				<th class="col-md-1">GO! Fetch Job ID</th>

				<th class="col-md-1">Vendor's Name</th>
				<th class="col-md-1">Vendor's PhoneNumber</th>				
				<th class="col-md-1">Pickup Area</th>
		 		<th class="col-md-1">Pickup Address</th>

				<th class="col-md-1">Recipient's Name</th>
				<th class="col-md-1">Recipient's PhoneNumber</th>
				<th class="col-md-1">Delivery Area</th>
				<th class="col-md-1">Delivery Address</th>
				
				<th class="col-md-1">Product Description</th>
				<th class="col-md-1">Total Weight</th>
				<th class="col-md-1">Total Product Price</th>
				<th class="col-md-1">Special Note</th>
				<th class="col-md-1">GO! Fetch Service Charge</th>
				<th class="col-md-1" colspan="2">
					<button class="btn btn-primary" ng-click="createAll()">Create All Order</button>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="order in bulkOrder.Orders track by $index">
					<td class="col-md-1">
						{{$index}}
					</td>
					<td class="col-md-1">
						<div ng-show="order.Status === 'SUCCEEDED'">
							<a class="btn btn-primary" href="/#/job/{{order.HRID}}" target="_blank">{{order.HRID}}</a>
							<a class="btn btn-primary" href="/app/content/invoice/invoice.html?{{order.HRID}}" target="_blank">Invoice</a>
						</div>						
					</td>

					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.SellerInfo.Name"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.SellerInfo.PhoneNumber"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.SellerInfo.Address.Locality"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.SellerInfo.Address.AddressLine1"></textarea>
					</td>


					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.BuyerInfo.Name"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.BuyerInfo.PhoneNumber"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.BuyerInfo.Address.Locality"></textarea>
					</td>
					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.BuyerInfo.Address.AddressLine1"></textarea>
					</td>


					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.OrderCart.PackageList[0].Item"></textarea>
					</td>

					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.OrderCart.PackageList[0].Price"></textarea>
					</td>

					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.OrderCart.PackageList[0].Weight"></textarea>
					</td>

					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.NoteToDeliveryMan"></textarea>
					</td>

					<td class="col-md-1">
						<textarea class="bulk-order-textarea" ng-model="order.OrderCart.ServiceCharge"></textarea>
					</td>

					<td class="col-md-1">
						<button ng-hide="order.Status === 'SUCCEEDED'" class="btn btn-primary" ng-click="order.createOrder()">
						<span ng-show="order.Status === 'POSTING'" ng-disabled="order.Status === 'POSTING'" class="fa fa-refresh fa-spin"></span>Create</button>
					</td>					
				</tr>
			</tbody>
		</table>		
	</div>
</div>

