<div class="container-fluid">
    <div class="row">
        <div class="pending col-lg-4 col-md-4 col-sm-4 col-xs-12">            
            <div class="global-status-block">
                <span>PENDING</span>
            </div>
            <div class="global-status-block-count">
                <div class="text-right">{{EnqueuedOrders.pagination.Total}}</div>
            </div>
        </div>
        <div class="in-progress col-lg-4 col-md-4 col-sm-4 col-xs-12">            
            <div class="global-status-block">
                <span>IN PROGRESS</span>
            </div>
            <div class="global-status-block-count">
                <div class="text-right">{{InProgressOrders.pagination.Total}}</div>
            </div>
        </div>
        <div class="all col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="global-status-block">
                <span>Total</span>
            </div>
            <div class="global-status-block-count">
                <div class="text-right">{{EnqueuedOrders.pagination.Total + InProgressOrders.pagination.Total}}</div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <ng-form class="">
            <fieldset>
                <div class="row">
                    <div class="col-md-3">
                        <label>Job State</label>
                        <select class="form-control" ng-model="SelectedState" ng-change="activate()">
                            <option value="All">All</option>
                            <option disabled>──────────────────────────────</option>
                            <option value="PENDING AND IN PROGRESS">PENDING AND IN PROGRESS</option>
                            <option disabled>──────────────────────────────</option>
                            <option value="ENQUEUED">PENDING</option>
                            <option disabled>──────────────────────────────</option>
                            <option value="IN PROGRESS">IN PROGRESS</option>
                            <option value="PICKUP IN PROGRESS">PICKUP IN PROGRESS</option>
                            <option value="ALL DELIVERY IN PROGRESS">ALL DELIVERY IN PROGRESS</option>
                            <option value="DELIVERY IN PROGRESS">DELIVERY IN PROGRESS</option>
                            <option value="CASH DELIVERY IN PROGRESS">CASH DELIVERY IN PROGRESS</option>
                            <option value="PACKAGE RETURN IN PROGRESS">PACKAGE RETURN IN PROGRESS</option>
                            <option value="RETRY DELIVERY IN PROGRESS">RETRY DELIVERY IN PROGRESS</option>
                            <option disabled>──────────────────────────────</option>
                            <option value="COMPLETED">COMPLETED</option>
                            <option value="PICKUP COMPLETED">PICKUP COMPLETED</option>
                            <option value="ALL DELIVERY COMPLETED">ALL DELIVERY COMPLETED</option>
                            <option value="DELIVERY COMPLETED">DELIVERY COMPLETED</option>
                            <option value="CASH DELIVERY COMPLETED">CASH DELIVERY COMPLETED</option>
                            <option value="PACKAGE RETURN COMPLETED">PACKAGE RETURN COMPLETED</option>
                            <option value="RETRY DELIVERY COMPLETED">RETRY DELIVERY COMPLETED</option>                            
                            <option disabled>──────────────────────────────</option>
                            <option value="CANCELLED">CANCELLED</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Date Range:</label>
                        <div>
                            <span class="input-group-btn" style="float: left;width: 50%">
                                <input class="form-control date-picker" date-range-picker placeholder="select date" type="text" ng-model="SelectDateRange"/>
                            </span>
                            <span class="input-group-btn" style="float: left;width: 10%">
                                <button class="btn btn-default" ng-click="removeDateRange()">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </button>
                            </span>
                            <select class="form-control" ng-model="SelectedTimeProperty" style="width: 40%" ng-change="selectDateRange()">
                                <option value=""></option>
                                <option value="Create Time">Create Time</option>
                                <option value="Completion Time">Completion Time</option>
                                <option value="Modified Time">Modified Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Order By:</label>
                        <div>                                                        
                            <select class="form-control" ng-model="SelectedOrderByProperty" ng-change="SelectOrderBy()">
                                <option value="Oldest Create Time">Oldest Create Time</option>
                                <option value="Oldest Completion Time">Oldest Completion Time</option>
                                <option value="Oldest Modified Time">Oldest Modified Time</option>
                                <option value="Latest Create Time">Latest Create Time</option>
                                <option value="Latest Completion Time">Latest Completion Time</option>
                                <option value="Latest Modified Time">Latest Modified Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Search:</label>
                        <span class="input-group-btn" style="width: 20%">
                            <input type="text" class="form-control" ng-model="SearchKey" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" placeholder="Recipeint's Phone, GO! Fetch Tracking No"  ng-keypress="($event.which === 13)?activate():0">
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="SearchKey=null; activate()">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </button>                            
                        </span>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label>Enterprise Users:</label>
                        <div class="input-group">
                            <input type="text" 
                                ng-model="selectedUser" placeholder="Write Enterprise Users Name" 
                                uib-typeahead="user.UserName for user in EnterpriseUsers | filter:$viewValue | limitTo:20" 
                                typeahead-on-select="onSelectUser($item, $model, $label, $event)"
                                class="form-control" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
                            <span class="input-group-btn">                                    
                                <button class="btn btn-default" ng-click="getEnterpriseUsersList()" ng-show="EnterpriseUsers.length === 0">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-default" ng-click="EnterpriseUser = null; selectedUser = null; activate()" ng-show="EnterpriseUsers.length !== 0">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Delivery Area:</label>
                        <div class="input-group">
                            <input type="text" 
                                ng-model="DeliveryArea"  placeholder="Write Delivery area's Name"
                                uib-typeahead="area for area in DeliveryAreas | filter:$viewValue | limitTo:20"
                                class="form-control" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="DeliveryArea = null; activate()" ng-show="DeliveryAreas.length !== 0">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>                        
                    </div>
                    <div class="col-md-2">
                        <label>Payment Status:</label>                        
                        <select class="form-control" ng-model="PaymentStatus" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" ng-change="activate()">
                            <option value=""></option>
                            <option value="Paid">Paid</option>
                            <option value="Pending">Pending</option>
                        </select>                        
                    </div>
                    <div class="col-md-2">
                        <label>Delivery Attempt Time:</label>                        
                        <select class="form-control" ng-model="AttemptCount" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" ng-change="activate()">                            
                            <option value="Any">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>                        
                    </div>
                    <div class="col-md-1">
                        <label>Show per page:</label>                        
                        <select class="form-control" ng-model="JobsPerPage" ng-change="searchJobs()" ng-disabled="Orders.isCompleted === 'IN_PROGRESS'" ng-change="activate()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">60</option>
                            <option value="50">70</option>
                            <option value="50">80</option>
                            <option value="50">90</option>
                            <option value="50">100</option>
                        </select>                        
                    </div>
                    <div class="col-md-1">
                        <br>
                        <button class="btn btn-primary" ng-click="activate()" >SEARCH JOBS</button>
                    </div>
                </div>

                <br>
            </fieldset>        
        </ng-form>        
    </div>    
    <h3>Search Filters:</h3>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <ul class="list-inline" style="font-size: 15px;">
                <li ng-show="SelectedState">
                    Job State: <b>{{SelectedState}}</b>,
                </li>
                <li ng-show="SelectedTimeProperty">
                    {{SelectedTimeProperty}}: <b>{{dateRange1 | date:"MMM d, y"}}</b> to <b>{{dateRange2 | date:"MMM d, y"}}</b>,
                </li>
                <li ng-show="SelectedOrderByProperty">
                    Order By: <b>{{SelectedOrderByProperty}}</b>,
                </li>
                <li ng-show="SearchKey">
                    Search Key word: <b>{{SearchKey}}</b>,
                </li>
                <li ng-show="EnterpriseUser">
                    Enterprise User: <b>{{EnterpriseUser}}</b>,
                </li>
                <li ng-show="DeliveryArea">
                    Delivery Area: <b>{{DeliveryArea}}</b>,
                </li>
                <li ng-show="PaymentStatus">
                    Payment Status: <b>{{PaymentStatus}}</b>,
                </li>
                <li ng-show="AttemptCount">
                    Delivery Attempt: <b>{{AttemptCount}}</b>,
                </li>
                <li ng-show="JobsPerPage">
                    Job Per Page: <b>{{JobsPerPage}}</b>
                </li>            
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <button class="btn btn-danger" ng-click="SelectedState='PENDING AND IN PROGRESS';activate()">LOAD CURRENT PENDING + IN PROGRESS</button>
        </div>
    </div>
    <order-table orders="Orders"></order-table>
</div>