<div class="container-fluid">
    <div class="row mt-50">
        <div class="col-md-2 row">
            <div class="summary-icon-div col-md-1 all">
                <i class="fa fa-arrows-alt fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{allOrders.pagination.Total}}</h3>
                </div>
                <div>All</div>                    
            </div>            
        </div>
        <div class="col-md-2 row">
            <div class="summary-icon-div pending col-md-1">
                <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{newOrders.pagination.Total}}</h3>
                </div>
                <div>PENDING</div>                    
            </div>            
        </div>
        <div class="col-md-2 row">
            <div class="summary-icon-div in-progress col-md-1">
                <i class="fa fa-play fa-2x" aria-hidden="true"></i>
            </div>                
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{processingOrders.pagination.Total}}</h3>
            </div>
                <div>IN PROGRESS</div>                    
            </div>            
        </div>
        <div class="col-md-2 row">
            <div class="summary-icon-div completed col-md-1">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{completedOrders.pagination.Total}}</h3>
                </div>
                <div>COMPLETED</div>                    
            </div>            
        </div>
        <div class="col-md-2 row">
            <div class="summary-icon-div cancelled col-md-1">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 job-state">
                <div>
                    <h3 class="display-4">{{cancelledOrders.pagination.Total}}</h3>
                </div>
                <div>CANCELED</div>                    
            </div>            
        </div>
    </div>
    <ng-form class="form-horizontal">
        <fieldset>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-3">Start Date:</label>
                    <div class="col-md-7">
                        <input type="date" class="form-control" ng-model="startDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">End Date:</label>
                    <div class="col-md-7">
                        <input type="date" class="form-control" ng-model="endDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-danger pull-right" ng-click="clearDate()">CLEAR DATE</button>                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <div class="form-group">
                    <label class="control-label col-md-2">Show per page:</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="jobPerPage" ng-change="searchJobs()" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">60</option>
                            <option value="50">70</option>
                            <option value="50">80</option>
                            <option value="50">90</option>
                            <option value="50">100</option>
                        </select>                    
                    </div>                
                </div> -->
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label pull-left">Show Vendors:</label>                        
                    </div>
                    <div class="col-md-7" style="padding-right: 0px !important" >
                        <select class="form-control" ng-model="EnterpriseUser" ng-options="user as user for user in EnterpriseUsers"  ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
                            <option></option>
                        </select>
                    </div>
                    <button class="btn btn-default col-md-1" ng-click="getEnterpriseUsersList()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label pull-left">Select Delivery Area:</label>                        
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="DeliveryArea" ng-options="area as area for area in DeliveryAreas"  ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
                            <option></option>                
                        </select>                    
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" ng-click="activate()" >SEARCH JOBS</button>                        
                    </div>
                </div> 
            </div>           
        </fieldset>        
    </ng-form>
    <uib-tabset  active="activeJustified" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                All : {{allOrders.total}}
                <br>(Order by Last Modified Time)
                <button class="btn btn-default" ng-click="refresh(allOrders)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </uib-tab-heading>            
            <order-table orders="allOrders"></order-table>            
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                PENDING : {{newOrders.total}}
                <br>(Order by Create Time)
                <button class="btn btn-default" ng-click="refresh(newOrders)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </uib-tab-heading>            
            <order-table orders="newOrders"></order-table>            
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                IN PROGRESS : {{processingOrders.total}}
                <br>(Order by Last Modified Time)
                <button class="btn btn-default" ng-click="refresh(processingOrders)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </uib-tab-heading>
            <order-table orders="processingOrders"></order-table>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>
                COMPLETED : {{completedOrders.total}}
                <br>(Order by Completion Time)
                <button class="btn btn-default" ng-click="refresh(completedOrders)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </uib-tab-heading>
            <order-table orders="completedOrders"></order-table>            
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>
                CANCELED : {{cancelledOrders.total}}
                <br>(Order by Last Modified Time)
                <button class="btn btn-default" ng-click="refresh(cancelledOrders)">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </uib-tab-heading>
            <order-table orders="cancelledOrders"></order-table>            
        </uib-tab>
    </uib-tabset>    
</div>