<div ng-show="job.jobIsLoading == 'INPROGRESS'" class="mt-15-percent" ng-include="'../app/content/component/spinner/spinner.html'"></div>
 <div class="alert alert-danger" role="alert" ng-show="job.jobIsLoading == 'FAILED' || job.redMessage">
    {{job.redMessage}}
</div>
<div class="container-fluid" ng-show="job.jobIsLoading == 'COMPLETED'">    
    <div class="row">
        <div class="col-md-6">
            <h1>{{job.data.HRID}} <span class="label pull-right" ng-class="job.getSantizedState(job.data.State).class">{{job.data.HRState}}</span></h1>
            <div class="alert alert-danger pull-right" role="alert" ng-show="job.data.State === 'CANCELLED'">{{job.data.CancellationReason}}</div>
            <!-- <h3 ng-show="!job.data.JobServedBy"> someday it should come back, when server will response fast-->
            <h3 ng-show="!job.data.JobServedBy">
                You must 
                <button type="button" class="btn btn-danger" ng-click="job.claim()">
                    CLAIM
                    <span ng-show="job.modifying === 'CLAIMING'" class="fa fa-refresh fa-spin"></span>    
                </button>
                the Order first to start processing it
            </h3>
            <div ng-show="job.data.JobServedBy">
                <h3>The Job is being served by Admin <span class="label claimed-by"><strong>{{job.data.JobServedBy.UserName.toUpperCase()}}</strong></span></h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row pull-right mb-20">
                <button type="button" class="btn btn-info" ng-click="job.edit()">EDIT</button>
                <button type="button" class="btn btn-success" ng-show="job.data.State === 'CANCELLED'" ng-click="job.restore()">
                    RESTORE
                    <span ng-show="job.modifying === 'RESTORING'" class="fa fa-refresh fa-spin"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-show="job.data.State !== 'CANCELLED'" ng-click="openCancellationModal()">
                    CANCEL
                    <span ng-show="job.modifying === 'CANCELLING'" class="fa fa-refresh fa-spin"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="job.claim()">
                    RE CLAIM
                    <span ng-show="job.modifying === 'CLAIMING'" class="fa fa-refresh fa-spin"></span>
                </button>
                <button type="button" class="btn btn-info" ng-click="job.updatePaymentStatus()">
                    UPDATE PAYMENT
                    <span ng-show="job.modifying === 'PAYMENT_UPDATING'" class="fa fa-refresh fa-spin"></span>
                </button>
                <a class="btn btn-info" href="{{invoiceUrl()}}" target="_blank">INVOICE</a>                        
            </div>
            <div class="row mb-20">
                <div class="input-group col-md-6 pull-right">                            
                    <input id="tracking-link" type="text" class="form-control" ng-model="trackingLink">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ngclipboard data-clipboard-target="#tracking-link"  data-toggle="tooltip" data-placement="bottom" title="Copy GO! Fetch Public Tracking Link of {{job.data.HRID}}" >
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>                        
            </div>
        </div>
    </div>
        
    <div class="row">
        <!-- Tasks -->
        <div class="col-md-3">
        	<div ng-repeat="task in job.data.Tasks">
	            <div class="panel" ng-class="'panel-'+job.getSantizedState(task.State).class+'-border'">
	                <div class="panel-heading" ng-class="job.getSantizedState(task.State).class">
	                     {{job.taskTitle(task)}}<span class="label pull-right">{{task.State}}</span>
	                </div>
	                <div class="panel-body">
                        <div class="row">
                            <div class="row col-sm-12 col-xs-12">
                                <div ng-show="task.AssetRef">
                                    <label>Assigned Asset: </label>
                                    <div>
                                        <img class="media-object col-md-4" src="../../../app/content/img/ppnotfound.png">
                                        <div class="col-md-8">
                                            <p>{{job.data.Assets[task.AssetRef].UserName}}</p>
                                            <span>{{job.data.Assets[task.AssetRef].PhoneNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-sm-12 col-xs-12">
                                <div class="row">
                                    <label class="col-md-4">ETA: </label>
                                    <span class="col-md-8">{{ (task.ETA | date:'EEE d MMM y, hh:mm a') || 'Not Mentioned' }}</span><br>
                                </div>
                                <div class="row">
                                    <label class="col-md-4">Started: </label>
                                    <span class="col-md-8">{{ (task.InitiationTime | date:'EEE d MMM y, hh:mm a') || 'Not Started'}}</span><br>
                                </div>
                                <div class="row">
                                    <label class="col-md-4">Last Modified: </label>
                                    <span class="col-md-8">{{ (task.ModifiedTime | date:'EEE d MMM y, hh:mm a') || 'Not Completed' }}</span><br>
                                </div>
                                <div class="row" ng-show="task.CompletionTime">
                                    <label class="col-md-4">Completed: </label>
                                    <span class="col-md-8">{{ (task.CompletionTime | date:'EEE d MMM y, hh:mm a') || 'Not Completed' }}</span><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group input-group">
                                	<select class="form-control col-md-8" ng-model="selectedAssetid">
                                		<option></option>
                                		<option ng-repeat="asset in BikeMessengers" value="{{asset.Id}}">{{asset.UserName}}</option>
                                	</select>
                                	<span class="input-group-btn">
	                                    <button class="btn btn-primary" ng-click="assetAssign(task.id, selectedAssetid)" ng-disabled="task.State === 'COMPLETED'">
	                                        ASSIGN
	                                        <span ng-show="job.modifying === 'FetchDeliveryMan_UPDATING'" class="fa fa-refresh fa-spin"></span>
	                                    </button>                                		
                                	</span>
                                </div>
                                <div class="form-group">
                                	<div class="pull-right btn-group" uib-dropdown>
	                                    <button id="split-button" type="button" class="btn btn-primary" uib-dropdown-toggle>Update State
	                                        <span class="caret"></span>                         
	                                    </button>
	                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
	                                        <li role="menuitem"><a ng-click="stateUpdate(task, 'PENDING')">PENDING</a></li>
	                                        <li role="menuitem"><a ng-click="stateUpdate(task, 'IN_PROGRESS')">IN PROGRESS</a></li>
	                                        <li role="menuitem"><a ng-click="stateUpdate(task, 'COMPLETED')">COMPLETED</a></li>
	                                        <li class="divider"></li>
	                                        <li role="menuitem" ng-show="task.Type === 'Delivery'"><a ng-click="stateUpdate(task, 'FAILED')">FAILED</a></li>
	                                        <li class="divider"></li>
	                                        <li role="menuitem" ng-show="task.Type === 'Delivery'"><a ng-click="stateUpdate(task, 'RETURNED')">RETURNED</a></li>
	                                    </ul>
	                                </div>
                                </div>
                            </div>
                        </div>	                    
	                </div>               
	            </div>
            </div>
        </div>
        <!-- Tasks End -->

        <!-- Order Information -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Order Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6" ng-show="job.data.Order.SellerInfo">
                            <label class="control-label">Pickup From:</label><br>
                            <span>{{job.data.Order.SellerInfo.Name}}</span>
                        </div>
                        <div class="col-md-6" ng-show="job.data.Order.BuyerInfo">
                            <label class="control-label">Delivery To:</label><br>
                            <span>{{job.data.Order.BuyerInfo.Name}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6" ng-show="job.data.Order.SellerInfo">
                            <label class="control-label">Pickup PhoneNumber:</label><br>
                            <span>{{job.data.Order.SellerInfo.PhoneNumber}}</span>
                        </div>
                        <div class="col-md-6" ng-show="job.data.Order.BuyerInfo">
                            <label class="control-label">Delivery PhoneNumber:</label><br>
                            <span>{{job.data.Order.BuyerInfo.PhoneNumber}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Pickup Address:</label><br>
                            <span>{{job.data.Order.From.Address}}</span>
                        </div>
                        <div class="col-md-6">
                            <label>Delivery Address:</label><br>
                            <span>{{job.data.Order.To.Address}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Note to Delivery Man:</label><br>
                            <span>{{job.data.Order.NoteToDeliveryMan}}</span>
                        </div>
                        <div class="col-md-6">
                            <label>Package Description:</label><br>
                            <span>{{job.data.Order.Description}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Payment Method:</label><br>
                            <span>{{job.data.Order.PaymentMethod}}</span>
                        </div>
                        <div class="col-md-6">
                            <label>Required Change For:</label><br>
                            <span>{{job.data.Order.RequiredChangeFor}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Pickup ETA:</label><br>
                            <span>{{(job.data.Tasks[1].ETA | date:'EEE d MMM y, hh:mm a') || 'Not Mentioned'}}</span>
                        </div>
                        <div class="col-md-4">
                            <label>Delivery ETA:</label><br>
                            <span>{{(job.data.Tasks[2].ETA | date:'EEE d MMM y, hh:mm a') || 'Not Mentioned'}}</span>
                        </div>
                        <div class="col-md-4" ng-show="job.data.Tasks[3]">
                            <label>Secure Delivery ETA:</label><br>
                            <span>{{(job.data.Tasks[3].ETA | date:'EEE d MMM y, hh:mm a') || 'Not Mentioned'}}</span>
                        </div>                        
                    </div>                    
                </div>                
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Item Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label>Reference Invoice No:</label><br>
                        <span>{{job.data.Order.ReferenceInvoiceId}}</span>
                    </div><br>
                    <div class="row table-responsive">
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th>Weight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in job.data.Order.OrderCart.PackageList track by $index">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{item.Item}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.Total}}</td>
                                    <td>{{item.Weight}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">Total Weight</td>
                                    <td> {{job.data.Order.OrderCart.TotalWeight}} </td>
                                    <td colspan="2" class="text-right">Subtotal</td>
                                    <td> {{job.data.Order.OrderCart.SubTotal}} </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">Delivery Charge</td>
                                    <td> {{job.data.Order.OrderCart.ServiceCharge}} </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">Total</td>
                                    <td> {{job.data.Order.OrderCart.TotalToPay}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Extra Info
                </div>
                <div class="panel-body" ng-show="job.commentStatus === 'COMMENTI_LOADING_FAILED'">
                    <div>Couldn't load comment due to server error, <button class="btn btn-info" ng-click="job.getComments()">click here</button> to try again!</div>
                </div>
                <div class="panel-body" ng-hide="job.commentStatus === 'COMMENTI_LOADING_FAILED'">
                    <ol>
                        <li ng-repeat="comment in job.comments">                            
                            <span>{{comment.CommentText}}</span>
                            <div class="pull-right">
                                <span style="margin: 5px" ng-click="editComment(comment)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>                                    
                                <span class="pull-right"><i class="fa fa-times fa-1x" ng-click="confirmDeleteComment(comment)"></i></span>
                            </div>
                            <br>
                            <span style="color: grey;">by <b style="color: black;">{{comment.User.DisplayName}}</b> at {{comment.CreateTime | date:"EEE MMM d, y h:mm a"}}</span>
                            <br><br>
                        </li>
                    </ol>
                    <div class="form-group" ng-show="!job.isUpdatingComment">                        
                        <div class="row">
                            <textarea row="3" type="text" class="form-control" ng-model="job.CommentText" ng-disabled="job.commentStatus === 'COMMENTI_MODIFYING'"></textarea>
                        </div><br>
                        <div class="row">
                            <button class="btn btn-primary pull-right" ng-disabled="job.commentStatus === 'COMMENTI_MODIFYING'" ng-click="job.postComment()">
                                <span ng-show="job.commentStatus === 'COMMENTI_MODIFYING'" class="fa fa-refresh fa-spin"></span>
                                <span>Add Comment</span>
                            </button>    
                        </div>                        
                    </div>
                    <div class="form-group" ng-show="job.isUpdatingComment">
                        <div class="row">
                            <textarea row="3" type="text" class="form-control" ng-model="CommentTobeUpdated.CommentText" ng-disabled="job.commentStatus === 'COMMENTI_MODIFYING'"></textarea>
                        </div><br>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <button class="btn btn-default pull-left" ng-disabled="job.commentStatus === 'COMMENTI_MODIFYING'" ng-click="job.isUpdatingComment = false; CommentTobeUpdated = null">
                                    <span ng-show="job.commentStatus === 'COMMENTI_MODIFYING'" class="fa fa-refresh fa-spin"></span>
                                    <span>Discard Update</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-warning pull-right" ng-disabled="job.commentStatus === 'COMMENTI_MODIFYING'" ng-click="job.updateComment(CommentTobeUpdated)">
                                    <span ng-show="job.commentStatus === 'COMMENTI_MODIFYING'" class="fa fa-refresh fa-spin"></span>
                                    <span>Update Comment</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading ">
                     Acitivity
                </div>
                <div class="panel-body">
                    <job-activity hrid="HRID"></job-activity>
                </div>
            </div>   
        </div>

        <!-- Order Information End-->

        <!-- Customer Info, Order Status Information -->
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Customer Info
                </div>
                <div class="panel-body">
                    <div class="row mb-20">
                        <img class="media-object col-md-3" src="../../../app/content/img/ppnotfound.png">
                        <h4>{{job.data.User.UserName}}</h4>
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-user col-md-3" aria-hidden="true"></span>
                        <span>{{job.data.User.Type}}</span>
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-earphone col-md-3" aria-hidden="true"></span>
                        <span>{{job.data.User.PhoneNumber}}</span>
                    </div>
                    <div class="row mb-20">
                        <span class="glyphicon glyphicon-envelope col-md-3" aria-hidden="true"></span>
                        <span>{{job.data.User.Email}}</span>
                    </div>
                </div>                
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Order Status
                </div>
                <div class="panel-body">                    
                    <div class="row">
                        <label class="col-md-6">Order Type</label>
                        <span class="col-md-6">{{job.getDeliveryType()}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-6">Claimed By</label>
                        <span class="col-md-6">{{job.data.JobServedBy.UserName}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-6">Create Time</label>
                        <span class="col-md-6">{{ job.data.CreateTime | date:'EEE d MMM y, h:m a' }}</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">Modified Time</label>
                        <span class="col-md-6">{{ job.data.ModifiedTime | date:'EEE d MMM y, h:m a' }}</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">ETA Failed</label>
                        <span class="col-md-6">{{ job.data.ETAFailed }}</span><br>                        
                    </div>

                    <div class="row">
                        <label class="col-md-6">Processing Start Time</label>
                        <span class="col-md-6">{{ (job.data.InitiationTime | date:'EEE d MMM y, hh:mm a') || 'Not Started Yet' }}</span><br>
                    </div>

                    <div class="row">
                        <label class="col-md-6">Completion Time</label>
                        <span class="col-md-6">{{ (job.data.CompletionTime | date:'EEE d MMM y, hh:mm a') || 'Not Completed Yet' }}</span><br>
                    </div>

                    <div class="row">
                        <label class="col-md-6">Duration Time</label>
                        <span class="col-md-6">{{ (job.data.Duration | date:'hh:mm a') || 'Not Completed Yet' }}</span><br>
                    </div>

                    <div class="row">
                        <label class="col-md-6">Payment Status</label>
                        <div class="col-md-6"> 
                            <span class="{{ job.getSantizedState(job.data.PaymentStatus).class }} label">
                                {{ job.getSantizedState(job.data.PaymentStatus).value }}                             
                            </span>
                        </div><br>
                    </div>

                    <div class="row" ng-show="job.data.CancellationReason">
                        <label class="col-md-6">CancellationReason</label>
                        <span class="col-md-6"> {{ job.data.CancellationReason }}</span><br>                        
                    </div>
                    <div class="row">
                        <label class="col-md-6">Delivery Attempted</label>
                        <span class="col-md-6"><b>{{ job.data.AttemptCount }}</b></span><br>
                    </div>                      
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Tags
                </div>
                <div class="panel-body">
                    <div>                          
                        <div class="row">
                            <div class="col-md-8">
                                <ul ng-repeat="tag in job.data.Tags" style="list-style-type: none;">
                                    <li class="small-button small-button-color">{{ tag }}</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Assets List
                </div>
                <div class="panel-body">
                    <div ng-repeat="(key, asset) in job.data.Assets">
                        <a href="#/users/{{asset.Id}}" target="_blank">                            
                            <div class="row">
                                <img class="media-object col-md-4" src="../../../app/content/img/ppnotfound.png">
                                <div class="col-md-8">
                                    <p>{{asset.UserName}}</p>
                                    <span>{{asset.PhoneNumber}}</span>
                                </div>
                            </div>
                            <hr>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- Customer Info, Order Status Information End-->
    </div>

   <!--  <div ng-show="job.data.JobServedBy" class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Map
                </div>
                <div id="jobMap" class="panel-body"></div>
            </div>
        </div>
    </div>
 -->
</div>
<div ng-show="job.loadingPage" style="
    opacity: 0.4;
    background-color: #fff9f9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;">
    
</div>