<h1 ng-show="user">Existing Stores of {{ username }}</h1>
<div ng-show="loadingStores" ng-include="'../app/content/component/loadinSnake/loading-snake.html'"></div>
<table ng-hide="loadingStores" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
	<thead>
		<th>S/L</th>
		<th>Id</th>
		<th>Name</th>
		<th>Store Url</th>
		<th>Display Order</th>
		<th>CoverPic Url</th>
		<th>Categories</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="_store in stores">
			<td>{{ $index + 1 }}</td>
			<td>{{ _store.Id }}</td>
			<td>{{ _store.Name }}</td>
			<td>{{ _store.Url }}</td>
			<td>{{ _store.DisplayOrder }}</td>
			<td>{{ _store.CoverPicUrl }}</td>
			<td> 
				<ol>
					<li ng-repeat="category in _store.ProductCategories">{{ category.Name }}</li>
				</ol>
			</td>
			<td><a class="btn btn-primary" href="#/products?storeid={{_store.Id}}&storename={{_store.Name}}&userid={{ userid }}">View Store</a></td>
			<td><button class="btn btn-default" ng-click="editModeOn(_store)">Edit</button></td>
			<td><button class="btn btn-danger" ng-click="deleteStore(_store)">Delete</button></td>
		</tr>
	</tbody>
</table>