<div class="container-fluid">
    <div ng-show="isLoadingUser" ng-include="'../app/content/component/loadinSnake/loading-snake.html'"></div>
	<div class="row" ng-show="!isLoadingUser">
		<div class="col-md-4">
			<h1>{{User.UserName}}</h1>	
			<span>{{User.Type}}</span>
			<span ng-show="isAsset">{{AverageRating}}</span><br>
			<span>Email : {{User.Email}}</span><br>
			<span>Phone : {{User.PhoneNumber}}</span><br>
		</div>
		<div class="col-md-6">
			<h1>Profile Info</h1>					
				<span ng-show="isAsset||isUser">First Name : {{User.Profile.FirstName}}</span><br>
				<span ng-show="isAsset||isUser"></span><br>
				<span ng-show="isAsset||isUser">Age : {{User.Profile.Age}}</span><br>
				<span ng-show="isAsset||isUser">Gender : {{User.Profile.Gender}}</span><br>
				<span>Address : {{User.Profile.Address}}</span><br>
				<span ng-show="isAsset">NationalId : {{User.Profile.NationalId}}</span><br>
				<span ng-show="isAsset">DriversLicenseId : {{User.Profile.DriversLicenseId}}</span><br>
				<span ng-show="isEnterprise">CompanyName : {{User.Profile.CompanyName}}</span><br>
				<span ng-show="isEnterprise">Website : {{User.Profile.Website}}</span><br>
		</div>
		<div class="col-md-2">
	    	<img src="{{Profile.PicUri || '/content/img/ppnotfound.png'}}">
	  	</div>
	</div>	
	<div class="row">
		<div class="form-group col-md-3" ng-show="User.Type === 'BIKE_MESSENGER'">            
            <a class="btn btn-primary" href="#/workorder?id={{User.Id}}">Work Order</a>
        </div>
        <div class="form-group col-md-3" ng-show="User.Type === 'ENTERPRISE'">            
            <a class="btn btn-primary" href="#/store?userid={{User.Id}}&username={{User.UserName}}">STORE</a>
        </div>
        <div class="form-group col-md-3">
            <label>Show:</label>
            <select ng-model="jobPerPage" ng-change="activate()" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">60</option>
                <option value="50">70</option>
                <option value="50">80</option>
                <option value="50">90</option>
                <option value="50">100</option>
            </select>
            <label>Orders</label>
        </div>
    </div>
    <uib-tabset  active="activeJustified" justified="true">        
        <uib-tab index="0">
            <uib-tab-heading>
                IN PROGRESS : {{processingOrders.total}}
            </uib-tab-heading>
            <order-table orders="processingOrders"></order-table>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                COMPLETED : {{completedOrders.total}}
            </uib-tab-heading>
            <order-table orders="completedOrders"></order-table>            
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                CANCELED : {{cancelledOrders.total}}
            </uib-tab-heading>
            <order-table orders="cancelledOrders"></order-table>            
        </uib-tab>
    </uib-tabset>	
</div>			
