<div class="container">
	<ng-form>
		<fieldset>
	        <div class="row">
	        	<div class="col-md-6">
	        		<div class="input-group">
	        			<input type="text" 
	        			ng-model="selectedTag" placeholder="Type and select a Tag" 
	        			uib-typeahead="tag.Id for tag in Tags | filter:$viewValue | limitTo:20" 
	        			typeahead-on-select="onSelectTag($item, $model, $label, $event)"
	        			class="form-control" ng-disabled="newOrders.isCompleted === 'IN_PROGRESS'" ng-keypress="($event.which === 13)?activate():0">
	        			<span class="input-group-btn">                                    
	        				<button class="btn btn-default" ng-click="getTagsList()" ng-show="Tags.length === 0">
	        					<i class="fa fa-refresh" aria-hidden="true"></i>
	        				</button>
	        				<button class="btn btn-default" ng-click= "selectedTag = null; selectedTag = null; activate()" ng-show="Tags.length !== 0">
	        					<i class="fa fa-minus-circle" aria-hidden="true"></i>
	        				</button>
	        			</span>
	        		</div> 
	        	</div>
	        	<div class="col-md-6">            	
	        		<button class="btn btn-primary col-md-6" ng-click="printWorkOrder()" >PRINT WORK ORDER</button>
	        		<button class="btn btn-primary col-md-6" ng-click="downloadExcelWorkOrder('workOrderTable')" >DOWNLOAD WORK ORDER</button>	            
	        	</div>
	        </div> 

	    </fieldset>
	</ng-form>
	<div ng-show="workOrders.isCompleted === 'SUCCESSFULL'">
		<div id="workOrders">
			<h1>Work orders for Zone {{ selectedTag.Id }}</h1>
			<table id="workOrderTable" class="table table-striped table-bordered table-hover" style="table-layout: fixed;">
				<tbody>
					<tr>
						<td><b>S/L</b></td>
						<td><b>JobId</b></td>
						<td><b>Vendor Name</b></td>
						<td><b>Customer Address</b></td>
						<td><b>Zone</b></td>
						<td><b>Package</b></td>
						<td><b>Price</b></td>
						<td><b>Special Note</b></td>					
						<td><b>Asset Assigned</b></td>
						<td><b>Current Job Status</b></td>
						<td><b>Comment</b></td>
					</tr>
					<tr ng-repeat="order in workOrders.data track by $index">
						<td>{{ $index + 1 }}</td>
						<td class="col-md-1">{{ order.data.HRID }}</td>
						<td class="col-md-1">{{ order.data.User.UserName }}</td>
						<td class="col-md-2">{{ order.data.Order.To.Address }}</td>
						<td class="col-md-1">
							<div ng-repeat="tag in order.data.Tags"> {{ tag }}</div>
						</td>					
						<td class="col-md-2">{{ order.PackageDescription() }}</td>
						<td>{{ order.data.Order.OrderCart.TotalToPay }}</td>						
						<td class="col-md-2">{{ order.data.Order.NoteToDeliveryMan }}</td>

						<td class="col-md-1">{{ order.data.Assets[order.data.Tasks[2].AssetRef].UserName }}</td>
						<td class="col-md-1">{{ order.data.HRState }}</td>
						<td class="col-md-1"></td>
					</tr>					
					<tr>
						<td colspan="5">
							<span class="pull-right">Total Recievable</span>
						</td>
						<td>{{totalPayable}}</td>
					</tr>
				</tbody>
			</table>	
		</div>			
	</div>
	<div ng-show="workOrders.isCompleted === 'IN_PROGRESS'" ng-include="'../app/content/component/loadinSnake/loading-snake.html'"></div>
	<div ng-show="workOrders.isCompleted == 'FAILED'" >
	    <p>Server error! click <button ng-click="workOrders.loadOrders()">here</button> to refresh</p>
	</div>
	<div ng-show="orders.isCompleted == 'EMPTY'" >
	    <p>There is no order here! click <button ng-click="orders.loadOrders()">here</button> to check</p>
	</div>
</div>