* {
    font-size: 100%;
    font-family: Roboto;
}

html, body{
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    position: relative;    
}
body{
    display: block;
}
header{
    height: 50px;
    padding: 10px;
    background-color: #C5E1A5;
}
header p{
    margin: 5px;
}
a:link, a:visited {
    color: black;
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: #F5F5F5
}
 a:active {
    background-color: #F44336;
}
.complete{
    color: #33691E;
}
.in-progress{
    color: #FFC107;
}
.pending{
    color: #F44336;
}
#header-and-container{
}
#container{
    height: 100%;
    /*background-color: #F5F5F5;*/
}
.horizontal{
	display: flex;
	flex-flow: row;
}
.vertical{
	display: flex;
	flex-flow: column;
}

#sidebar{
    color: black;
}
.md-button{
    width: 100%;
    margin: 0px,
    padding: 0px;
}

#content{
    height: 100%;
}

#content-header{
	background-color: #C5E1A5;
    height: 10%;
}
#content-body {
    height: 90%;
}
#order-details{
	background-color: #E0E0E0;
    padding: 28px 28px 0px 26px;
    height: 100%;
}
#from-to{
	background-color: #F5F5F5;
    padding: 20px;
    /*height: 100%;*/
}
#map{
/*	background-color: #FFFFFF;*/
/*	width: 1024px;*/
    /*height: 100%;*/
}	


#content-header-h1 {
    margin: 20px;
}
#content-header-table{
    margin: 20px;   
}
.menu-icon{
    width: 40px;
    height: 30px;
}
#menu-heading{
    margin-top: -5px;
    margin-left: 10px;
}
#menu-list{
    list-style: none;
    line-height: 60px;
    font-size: 1.2em;
}

.td-value{
    padding-left: 10px;
    min-width: 100px;
}

tr:hover{
    /*background-color: #F5F5F5;*/
    padding: 10px;

}