 table.rg-table {
	margin: 0 0 1em 0;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
}
table.rg-table * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
	color: #333;
}
table.rg-table thead {
	border-bottom: 1px solid rgba(195,195,197,.3);
}
table.rg-table th {
	font-weight: bold;
	padding: 0.5em;
	font-size: 0.85em;
	line-height: 1.4;
}
table.rg-table td {
	padding: 1em;
	font-size: 0.9em;
	line-height: 1.4;
}
table.rg-table .highlight td {
	font-weight: bold;
}
table.rg-table tr {
	border-bottom: 1px solid rgba(195,195,197,.3);
	color: #222;
}
table.rg-table tr :hover{
	cursor: pointer;
}
table.rg-table .number {
	text-align: right;
}
table.rg-table.zebra tr:nth-child(even) {
	background: rgba(195, 195, 197, 0.1);
}
table.rg-table tr.highlight {
	background: #edece4;
}
@media screen and (max-width: 500px) {
.rg-container {
	max-width: 500px;
	margin: 0 auto;
}
table.rg-table {
	display: block;
	width: 100%;
}
table.rg-table tr.hide-mobile, table.rg-table th.hide-mobile, table.rg-table td.hide-mobile {
	display: none;
}
table.rg-table thead {
	display: none;
}
table.rg-table tbody {
	display: block;
	width: 100%;
}
table.rg-table td:last-child {
	padding-right: 0;
	border-bottom: 2px solid #ccc;
}
table.rg-table tr, table.rg-table th, table.rg-table td {
	display: block;
	padding: 0;
}
table.rg-table td[data-title]:before {
	content: attr(data-title) ":A0";
	font-weight: bold;
	display: inline-block;
	content: attr(data-title);
	float: left;
	margin-right: 0.5em;
	font-size: 0.95em;
}
table.rg-table tr {
	border-bottom: none;
	margin: 0 0 1em 0;
	padding: 1em 0;
}
table.rg-table tr:nth-child(even) {
	background: none;
}
table.rg-table td {
	padding: 0.5em 0 0.25em 0;
	border-bottom: 1px dotted #ccc;
	text-align: right;
}
table.rg-table td:empty {
	display: none;
}
table.rg-table .highlight td {
	background: none;
}
table.rg-table tr.highlight {
	background: none;
}
table.rg-table.zebra tr:nth-child(even) {
	background: none;
}
table.rg-table.zebra td:nth-child(even) {
	background: rgba(195, 195, 197, 0.1);
}
 
</style>
 
	 
	 
		<table class="rg-table zebra">
			<thead>
				<th class="text rg-th">Name</th>
				<th class="text rg-th">City</th>
				<th class="number rg-th">Rating</th>
				<th class="number rg-th">Price</th>
			</thead>
			<tbody>
				<tr>
						<td class="text" data-title="Name">Superette</td>
						<td class="text" data-title="City">Holliston</td>
						<td class="number" data-title="Rating">4.5</td>
						<td class="number" data-title="Price">$8.00</td>
				</tr>
				<tr>
						<td class="text" data-title="Name">Tasty Treat</td>
						<td class="text" data-title="City">Ashland</td>
						<td class="number" data-title="Rating">2.0</td>
						<td class="number" data-title="Price">$5.00</td>
				</tr>
				<tr>
						<td class="text" data-title="Name">Big Fresh</td>
						<td class="text" data-title="City">Framingham</td>
						<td class="number" data-title="Rating">5.0</td>
						<td class="number" data-title="Price">$9.00</td>
				</tr>
				<tr>
						<td class="text" data-title="Name">Seta's Cafe</td>
						<td class="text" data-title="City">Watertown</td>
						<td class="number" data-title="Rating">3.8</td>
						<td class="number" data-title="Price">$7.50</td>
				</tr>
			</tbody>
		</table>
	 
	 
</div>